Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

fix(api): harden request contracts
  backend/internal/api/api.go
  backend/internal/api/api_local_profile_routes_test.go
  backend/internal/api/handlers_jobs_list.go
  backend/internal/api/handlers_jobs_list_test.go
  backend/internal/api/handlers_jobs_read.go
  backend/internal/api/handlers_jobs_read_test.go
  backend/internal/api/handlers_meta_http.go
  backend/internal/api/handlers_meta_http_test.go
  backend/internal/api/handlers_object_list_http.go
  backend/internal/api/handlers_objects_test.go
  backend/internal/api/handlers_uploads_commit_artifact_service.go
  backend/internal/api/handlers_uploads_commit_finalize_service.go
  backend/internal/api/handlers_uploads_commit_test.go
  backend/internal/api/handlers_uploads_commit_verify_service.go
  backend/internal/api/handlers_uploads_files_http.go
  backend/internal/api/handlers_uploads_files_http_test.go
  backend/internal/api/middleware.go
Due: build_s3desk_image, api_integration

refactor(app): simplify shell composition
  frontend/src/__tests__/FullAppBootstrapGate.test.tsx
  frontend/src/__tests__/FullAppContentHost.test.tsx
  frontend/src/__tests__/FullAppInner.routes.test.tsx
  frontend/src/__tests__/useFullAppController.test.tsx
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/__tests__/LoginPage.test.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/__tests__/UploadsPage.test.tsx
Due: build_s3desk_image

perf(jobs): batch polling and payload work
  frontend/src/pages/jobs/JobsDetailsDrawer.tsx
  frontend/src/pages/jobs/JobsUploadDetailsTable.tsx
  frontend/src/pages/jobs/__tests__/JobsDetailsDrawer.test.tsx
  frontend/src/pages/jobs/__tests__/jobPresentation.test.ts
  frontend/src/pages/jobs/__tests__/useJobsLogsState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageControllerState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageQueries.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageSurfaceState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsRealtimeEvents.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsUploadDetails.test.tsx
  frontend/src/pages/jobs/jobPresentation.ts
  frontend/src/pages/jobs/jobUtils.ts
  frontend/src/pages/jobs/jobsUploadTypes.ts
  frontend/src/pages/jobs/useJobsLogsState.ts
  frontend/src/pages/jobs/useJobsPageControllerState.tsx
  frontend/src/pages/jobs/useJobsPageQueries.ts
  frontend/src/pages/jobs/useJobsPageSurfaceState.ts
  frontend/src/pages/jobs/useJobsRealtimeEvents.ts
  frontend/src/pages/jobs/useJobsUploadDetails.ts
Due: build_s3desk_image

fix(ui): harden shared input flows
  frontend/src/components/SidebarBackupRemoteSection.tsx
  frontend/src/components/UploadSourceSheet.tsx
  frontend/src/components/__tests__/SidebarBackupAction.test.tsx
  frontend/src/components/__tests__/UploadSourceSheet.test.tsx
Due: build_s3desk_image

perf(transfers): coalesce transfer state
  frontend/src/components/transfers/__tests__/downloadObjectToDevice.test.ts
  frontend/src/components/transfers/__tests__/useTransfersDownloadQueue.test.tsx
  frontend/src/components/transfers/__tests__/useTransfersPersistence.test.tsx
  frontend/src/components/transfers/__tests__/useTransfersUploadJobEvents.test.tsx
  frontend/src/components/transfers/__tests__/useTransfersUploadJobLifecycle.test.tsx
  frontend/src/components/transfers/downloadObjectToDevice.ts
  frontend/src/components/transfers/transfersUploadUtils.ts
  frontend/src/components/transfers/useTransfersDownloadQueue.ts
  frontend/src/components/transfers/useTransfersPersistence.ts
  frontend/src/components/transfers/useTransfersUploadJobEvents.ts
  frontend/src/components/transfers/useTransfersUploadJobLifecycle.ts
Due: build_s3desk_image

perf(buckets): cancel stale queries
  frontend/src/pages/buckets/BucketGovernanceModal.tsx
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/buckets/__tests__/BucketPolicyModal.test.tsx
  frontend/src/pages/buckets/__tests__/useBucketsPageQueriesState.test.tsx
  frontend/src/pages/buckets/useBucketPolicyQuery.ts
  frontend/src/pages/buckets/useBucketsPageQueriesState.ts
Due: build_s3desk_image

perf(frontend): reduce shared helper work
  frontend/src/lib/__tests__/deviceFs.test.ts
  frontend/src/lib/__tests__/useLocalStorageState.test.tsx
  frontend/src/lib/deviceFs.ts
  frontend/src/lib/objects.ts
  frontend/src/lib/objectsCostMode.ts
  frontend/src/lib/useLocalStorageState.ts
Due: build_s3desk_image

fix(frontend): tighten page interactions
  frontend/src/FullAppInner.tsx
  frontend/src/FullAppRoutes.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/settings/NetworkSettingsSection.tsx
  frontend/src/pages/settings/ObjectsSettingsSection.tsx
  frontend/src/pages/settings/TransfersSettingsSection.tsx
  frontend/src/useFullAppController.ts
Due: build_s3desk_image

docs(release): record optimization followups
  docs/release/REMAINING_STRUCTURE_DEBT.md
Due: none

test(e2e): cover responsive flows
  frontend/tests/jobs-perf.spec.ts
  frontend/tests/jobs-realtime-overlays.spec.ts
  frontend/tests/login-mobile-responsive.spec.ts
  frontend/tests/support/settingsLoginMobileResponsive.ts
Due: build_s3desk_image

chore(frontend): tune bundle budgets
  frontend/scripts/bundle-budgets.json
Due: build_s3desk_image

chore(scripts): refine release reporting
  scripts/__tests__/bundle_report.test.js
  scripts/bundle_report.js
Due: none

perf(uploads): streamline page queries
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/uploads/__tests__/buildUploadsPagePresentationProps.test.ts
  frontend/src/pages/uploads/__tests__/useUploadsPageQueriesState.test.tsx
  frontend/src/pages/uploads/__tests__/useUploadsPageSelectionActions.test.tsx
  frontend/src/pages/uploads/buildUploadsPagePresentationProps.ts
  frontend/src/pages/uploads/useUploadsPageQueriesState.ts
  frontend/src/pages/uploads/useUploadsPageSelectionActions.ts
Due: build_s3desk_image

chore: refresh release docs and CI checks
  .gitlab-ci.yml
  docs/RELEASE_GATE.md
  docs/TESTING.md
  docs/release/REMAINING_STRUCTURE_DEBT.md
  scripts/check_gitlab_publish_dag_test.py
Due: none

fix(objects): validate global search range
  frontend/src/pages/objects/ObjectsGlobalSearchControls.tsx
  frontend/src/pages/objects/ObjectsGlobalSearchDrawer.tsx
  frontend/src/pages/objects/ObjectsSearch.module.css
  frontend/src/pages/objects/__tests__/ObjectsGlobalSearchDrawer.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsIndexedSearchQuery.test.tsx
  frontend/src/pages/objects/objectsSearchValidation.ts
  frontend/src/pages/objects/useObjectsIndexedSearchQuery.ts
  frontend/tests/dark-theme-visual-regression.spec.ts-snapshots/objects-dark-global-search-drawer-chromium-linux.png
  frontend/tests/objects-global-search.spec.ts
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-global-search-drawer-actions-chromium-linux.png
Due: build_s3desk_image

feat(buckets): add scoped bucket search
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/buckets/BucketsList.tsx
  frontend/src/pages/buckets/BucketsPageShell.tsx
  frontend/src/pages/buckets/__tests__/BucketsList.test.tsx
  frontend/src/pages/buckets/__tests__/BucketsPageShell.test.tsx
  frontend/src/pages/buckets/__tests__/buildBucketsPageControllerState.test.ts
  frontend/src/pages/buckets/__tests__/useBucketsPageScopeState.test.tsx
  frontend/src/pages/buckets/buildBucketsPageShellViewProps.ts
  frontend/src/pages/buckets/useBucketScopedViewState.ts
  frontend/tests/buckets-mobile-responsive.spec.ts
  frontend/tests/design-audit-visual.spec.ts
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-buckets-desktop-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-buckets-mobile-chromium-linux.png
Due: build_s3desk_image

fix(jobs): jump to latest log error reliably
  frontend/src/pages/jobs/JobsLogsDrawer.tsx
  frontend/tests/jobs-mobile-responsive.spec.ts
  frontend/tests/jobs-overlays.spec.ts
Due: build_s3desk_image

docs: record mobile and desktop follow-up results
  docs/FRONTEND_STATE_BOUNDARIES.md
  frontend/docs/DESIGN_AUDIT_IMPLEMENTATION_STATUS.md
  frontend/docs/DESIGN_AUDIT_VALIDATION_LOG.md
  notes/INDEX.md
  notes/UI_UX_MOBILE_DESKTOP_REVIEW_2026-09-06.md
Due: build_s3desk_image

fix(uploads): preserve reserved filename metadata
  frontend/src/api/__tests__/uploads.domain.test.ts
  frontend/src/api/domains/uploads.ts
  frontend/src/components/transfers/__tests__/uploadRuntimePlanning.test.ts
  frontend/src/components/transfers/__tests__/uploadRuntimeResume.test.ts
  frontend/src/components/transfers/uploadRuntimePlanning.ts
  frontend/src/components/transfers/uploadRuntimeResume.ts
Due: build_s3desk_image

fix(network): scope retry status per request
  frontend/src/api/__tests__/client.retry.test.ts
  frontend/src/api/retryTransport.ts
  frontend/src/components/NetworkStatusBanner.tsx
  frontend/src/lib/networkStatus.ts
  frontend/tests/objects-network-chaos.spec.ts
Due: build_s3desk_image

fix(transfers): preserve active work and job links
  frontend/src/FullAppRoutes.tsx
  frontend/src/components/transfers/TransferDownloadRow.tsx
  frontend/src/components/transfers/TransferUploadRow.tsx
  frontend/src/components/transfers/TransfersDrawer.tsx
  frontend/src/components/transfers/TransfersRuntimeUiHost.tsx
  frontend/src/components/transfers/__tests__/TransferDownloadRow.test.tsx
  frontend/src/components/transfers/__tests__/TransferUploadRow.test.tsx
  frontend/src/components/transfers/__tests__/TransfersDrawer.test.tsx
  frontend/src/components/transfers/__tests__/useTransfersRuntimeController.test.tsx
  frontend/src/components/transfers/__tests__/useTransfersTaskActions.test.tsx
  frontend/src/components/transfers/transferTypes.ts
  frontend/src/components/transfers/useTransfersDrawerProps.ts
  frontend/src/components/transfers/useTransfersRuntimeController.ts
  frontend/src/components/transfers/useTransfersTaskActions.ts
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageController.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageSurfaceState.test.tsx
  frontend/src/pages/jobs/useJobsPageController.tsx
  frontend/src/pages/jobs/useJobsPageControllerState.tsx
  frontend/src/pages/jobs/useJobsPageSurfaceState.ts
  frontend/src/pages/objects/__tests__/useObjectDownloads.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsTransferModals.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsUploadDrop.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsZipJobs.test.tsx
  frontend/tests/transfers-drawer-actions.spec.ts
  frontend/tests/transfers-job-artifact.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-desktop-workspace-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-mobile-downloads-state-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-mobile-uploads-state-chromium-linux.png
Due: build_s3desk_image

fix(uploads): retain drafts across navigation
  frontend/src/FullAppRoutes.tsx
  frontend/src/pages/UploadsPage.module.css
  frontend/src/pages/__tests__/UploadsPage.test.tsx
  frontend/src/pages/uploads/UploadsDraftContext.tsx
  frontend/src/pages/uploads/UploadsPageShell.tsx
  frontend/src/pages/uploads/UploadsSelectionSection.tsx
  frontend/src/pages/uploads/__tests__/UploadsDraftContext.test.tsx
  frontend/src/pages/uploads/__tests__/UploadsPageShell.test.tsx
  frontend/src/pages/uploads/__tests__/UploadsSelectionSection.test.tsx
  frontend/src/pages/uploads/__tests__/useUploadsPageScopedStorageState.test.tsx
  frontend/src/pages/uploads/__tests__/useUploadsPageState.test.tsx
  frontend/src/pages/uploads/buildUploadsPagePresentationProps.ts
  frontend/src/pages/uploads/useUploadsPageScopedStorageState.ts
  frontend/tests/support/ui.ts
  frontend/tests/uploads-mobile-responsive.spec.ts
  frontend/tests/uploads-more-menu.spec.ts
Due: build_s3desk_image

fix(pages): distinguish failed loads from empty
  frontend/src/pages/buckets/__tests__/BucketsPageRouteShell.test.tsx
  frontend/src/pages/buckets/bucketsPagePresentationTypes.ts
  frontend/src/pages/jobs/JobsEmptyState.tsx
  frontend/src/pages/jobs/JobsTableSection.tsx
  frontend/src/pages/jobs/__tests__/JobsTableSection.test.tsx
  frontend/tests/page-load-recovery.spec.ts
Due: build_s3desk_image

fix(jobs): improve narrow details drawer layout
  frontend/src/pages/jobs/JobsDetailsDrawer.tsx
  frontend/src/pages/jobs/JobsShared.module.css
Due: build_s3desk_image

fix(objects): compact the mobile toolbar
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-bucket-picker-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-dark-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-light-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-tablet-chromium-linux.png
Due: build_s3desk_image

docs: record quality and browser audit findings
  notes/PROJECT_QUALITY_ANALYSIS_2026-09-05.md
  notes/UI_UX_ADDITIONAL_AUDIT_2026-09-06.md
  notes/UI_UX_BROWSER_AUDIT_2026-09-05.md
Due: none

perf(objects): bound thumbnail cache work
  frontend/src/lib/__benchmarks__/thumbnailCache.bench.ts
  frontend/src/lib/__tests__/thumbnailCache.test.ts
  frontend/src/lib/__tests__/thumbnailRequestQueue.test.ts
  frontend/src/lib/thumbnailCache.ts
  frontend/src/lib/thumbnailRequestQueue.ts
  frontend/tests/objects-image-preview.spec.ts
Due: build_s3desk_image

fix(jobs): preserve active upload sessions
  backend/internal/jobs/manager_maintenance.go
  backend/internal/jobs/manager_retention_test.go
  backend/internal/store/store_transactions_postgres_test.go
  backend/internal/store/store_upload_sessions.go
  backend/internal/store/store_upload_sessions_test.go
Due: build_s3desk_image, api_integration

fix(uploads): preserve concurrent staging writes
  backend/internal/api/handlers_uploads_chunk_flows.go
  backend/internal/api/handlers_uploads_chunks.go
  backend/internal/api/handlers_uploads_chunks_unix_test.go
  backend/internal/api/handlers_uploads_limits.go
  backend/internal/api/handlers_uploads_limits_test.go
  backend/internal/api/handlers_uploads_multipart.go
  backend/internal/api/handlers_uploads_multipart_failures_test.go
  backend/internal/api/handlers_uploads_multipart_http.go
  backend/internal/api/handlers_uploads_multipart_http_test.go
  backend/internal/api/handlers_uploads_multipart_test.go
  backend/internal/api/handlers_uploads_parts.go
  backend/internal/api/handlers_uploads_staging.go
  backend/internal/api/handlers_uploads_staging_http_test.go
  backend/internal/api/handlers_uploads_test.go
  backend/internal/api/handlers_uploads_validation.go
  backend/internal/api/handlers_uploads_validation_test.go
Due: build_s3desk_image, api_integration

test(e2e): await completed browser workflows
  frontend/tests/bucket-governance.spec.ts
  frontend/tests/dark-theme-accessibility.spec.ts
  frontend/tests/demo-bucket-upload-delete-jobs.spec.ts
  frontend/tests/jobs-perf.spec.ts
Due: build_s3desk_image

fix(profiles): preserve pending mutation results
  frontend/src/__tests__/useFullAppProfileState.test.tsx
  frontend/src/pages/__tests__/ProfilesPage.import.test.tsx
  frontend/src/pages/__tests__/ProfilesPage.yaml.test.tsx
  frontend/src/pages/profiles/__tests__/useProfilesPageMutations.test.tsx
  frontend/src/pages/profiles/__tests__/useProfilesYamlImportExport.test.tsx
  frontend/src/pages/profiles/useProfilesPageMutations.ts
  frontend/src/pages/profiles/useProfilesPageState.ts
  frontend/src/pages/profiles/useProfilesYamlImportExport.ts
  frontend/tests/profiles-mobile-responsive.spec.ts
Due: build_s3desk_image

fix(objects): retain action and tree context
  frontend/src/components/SimpleTree.tsx
  frontend/src/components/__tests__/SimpleTree.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsClipboard.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsContextMenuLifecycle.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsCopyMove.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsDelete.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsFavorites.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsIndexing.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsNewFolder.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsRename.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsSelectionMove.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsTree.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsZipJobs.test.tsx
  frontend/src/pages/objects/objectsContextMenuTypes.ts
  frontend/src/pages/objects/useObjectsClipboard.tsx
  frontend/src/pages/objects/useObjectsContextMenuLifecycle.ts
  frontend/src/pages/objects/useObjectsCopyMove.tsx
  frontend/src/pages/objects/useObjectsDelete.tsx
  frontend/src/pages/objects/useObjectsFavorites.ts
  frontend/src/pages/objects/useObjectsIndexing.tsx
  frontend/src/pages/objects/useObjectsNewFolder.tsx
  frontend/src/pages/objects/useObjectsRename.tsx
  frontend/src/pages/objects/useObjectsSelectionMove.tsx
  frontend/src/pages/objects/useObjectsTree.tsx
  frontend/src/pages/objects/useObjectsZipJobs.tsx
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-favorites-tree-details.spec.ts
  frontend/tests/objects-keyboard.spec.ts
  frontend/tests/objects-new-folder.spec.ts
Due: build_s3desk_image

fix(buckets): finish mutations after navigation
  frontend/src/pages/buckets/__tests__/useBucketsPageCreateState.test.tsx
  frontend/src/pages/buckets/__tests__/useBucketsPageDeleteFlow.test.tsx
  frontend/src/pages/buckets/useBucketsPageCreateState.ts
  frontend/src/pages/buckets/useBucketsPageScopeState.ts
  frontend/tests/buckets-mobile-responsive.spec.ts
Due: build_s3desk_image

docs: record optimization validation
  notes/PROJECT_OPTIMIZATION_STABILITY_2026-09-07.md
Due: none

fix(transfers): cancel stale realtime requests
  frontend/src/components/transfers/__tests__/useTransfersUploadJobEvents.test.tsx
  frontend/src/components/transfers/useTransfersUploadJobEvents.ts
  frontend/src/pages/jobs/__tests__/useJobsRealtimeEvents.test.tsx
  frontend/src/pages/jobs/useJobsRealtimeEvents.ts
  frontend/tests/jobs-realtime-overlays.spec.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

fix(jobs): handle log resets and partial lines
  frontend/src/pages/jobs/__tests__/useJobsLogsState.test.tsx
  frontend/src/pages/jobs/useJobsLogsState.ts
  frontend/tests/jobs-realtime-overlays.spec.ts
Due: build_s3desk_image
