Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

docs: trim root README
  README.md
Due: none

fix: harden frontend and runtime regression paths
  THIRD_PARTY_NOTICES.md
  backend/internal/api/handlers_realtime_ticket.go
  backend/internal/api/handlers_realtime_ticket_test.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_portable_test.go
  backend/internal/api/realtime_tickets.go
  backend/internal/models/models.go
  frontend/src/components/SidebarBackupAction.tsx
  frontend/src/components/transfers/TransferUploadRow.tsx
  frontend/src/components/transfers/__tests__/TransferUploadRow.test.tsx
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/__tests__/ProfilesPage.smoke.test.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/buckets/__tests__/BucketModal.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsActionMutations.test.tsx
  frontend/src/pages/jobs/useJobsActionMutations.ts
  frontend/src/test/setup.ts
  scripts/check.sh
Due: build_s3desk_image, api_integration

fix: restore HMAC integrity for clear backups
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_backup_test.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_portable_test.go
Due: build_s3desk_image, api_integration

fix: harden portable import and smoke flows
  Containerfile.local
  backend/internal/api/handlers_profiles.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_portable_test.go
  backend/internal/api/handlers_uploads.go
  backend/internal/api/handlers_uploads_multipart.go
  backend/internal/api/handlers_uploads_multipart_failures_test.go
  backend/internal/api/handlers_uploads_test.go
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
  backend/internal/jobs/manager.go
  backend/internal/store/store_portable.go
  backend/internal/store/upload_staging.go
  compose/dev/compose.yml
  scripts/portable/run-failure-smoke.py
Due: build_s3desk_image, api_integration

test: auto-provision rclone for live e2e
  scripts/run_live_e2e_local.sh
Due: none

fix: preserve folder upload relative paths
  frontend/src/api/client.ts
  frontend/src/components/transfers/__tests__/transfersUploadUtils.test.ts
  frontend/src/components/transfers/transfersQueuedUpload.ts
  frontend/src/components/transfers/transfersTypes.ts
  frontend/src/components/transfers/transfersUploadUtils.ts
  frontend/src/components/transfers/useTransfersUploadRuntime.ts
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/jobs/CreateJobModal.tsx
  frontend/src/pages/jobs/useJobsPageController.tsx
  frontend/src/pages/objects/useObjectsUploadDrop.tsx
  frontend/src/pages/objects/useObjectsUploadFolder.tsx
  frontend/src/pages/objects/useObjectsUploadPickers.ts
  frontend/tests/uploads-folder-live.spec.ts
  frontend/tests/uploads-folder.spec.ts
Due: build_s3desk_image

test: stabilize live e2e critical suite
  frontend/tests/bucket-policy-live.spec.ts
  frontend/tests/objects-image-preview-live.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/server-migration-live.spec.ts
  frontend/tests/transfers-live-fallback.spec.ts
  scripts/run_live_e2e_local.sh
Due: build_s3desk_image

test: add backend provider live validation smoke
  backend/internal/api/provider_live_validation_test.go
Due: build_s3desk_image, api_integration

fix: validate profile endpoints server-side
  backend/internal/api/handlers_profiles.go
  backend/internal/api/profile_endpoint_validation.go
  backend/internal/api/profile_endpoint_validation_test.go
Due: build_s3desk_image, api_integration

feat: surface operational configuration warnings
  backend/internal/api/handlers_meta.go
  backend/internal/api/handlers_meta_test.go
  backend/internal/app/app.go
  backend/internal/config/warnings.go
  backend/internal/config/warnings_test.go
  backend/internal/models/models.go
  frontend/src/api/openapi.ts
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  frontend/tests/support/apiFixtures.ts
  openapi.yml
Due: build_s3desk_image, api_integration

security: tighten default CSP and cap realtime connections
  backend/internal/api/api.go
  backend/internal/api/handlers_events.go
  backend/internal/api/handlers_realtime_limits_test.go
  backend/internal/api/handlers_ws.go
  backend/internal/api/limiter.go
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
  backend/internal/api/server.go
Due: build_s3desk_image, api_integration

Fix popover mobile viewport clamping
  frontend/src/components/PopoverSurface.module.css
  frontend/src/components/PopoverSurface.tsx
  frontend/src/components/__tests__/PopoverSurface.test.tsx
  frontend/src/pages/objects/ObjectsMenuPopover.tsx
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/objects/useObjectsContextMenuMenu.ts
Due: build_s3desk_image

Improve frontend overlay accessibility
  frontend/src/components/DialogModal.tsx
  frontend/src/components/KeyboardShortcutGuide.tsx
  frontend/src/components/OverlaySheet.tsx
  frontend/src/components/PopoverSurface.tsx
  frontend/src/components/__tests__/DialogModal.test.tsx
  frontend/src/components/__tests__/KeyboardShortcutGuide.test.tsx
  frontend/src/components/__tests__/MenuPopover.test.tsx
  frontend/src/components/__tests__/OverlaySheet.test.tsx
  frontend/src/components/useOverlayLayer.ts
  frontend/src/pages/jobs/JobsLogsDrawer.module.css
  frontend/src/pages/jobs/__tests__/useJobsRealtimeEvents.test.tsx
  frontend/src/pages/jobs/useJobsRealtimeEvents.ts
  frontend/src/pages/objects/ObjectsBucketPicker.tsx
  frontend/src/pages/objects/ObjectsImageViewerModal.tsx
  frontend/src/pages/objects/ObjectsMoveSelectionSheet.tsx
  frontend/src/pages/objects/ObjectsOverlaySheet.tsx
  frontend/src/pages/objects/__tests__/ObjectsImageViewerModal.test.tsx
Due: build_s3desk_image

Tighten release and deployment checks
  .github/workflows/release-gate.yml
  compose/remote/compose.yml
  docs/RELEASE_GATE.md
  docs/RUNBOOK.md
  docs/TESTING.md
  scripts/perf_objects_list.sh
Due: none

Add backend transfer buffer helpers
  backend/internal/api/download_stream.go
  backend/internal/api/download_stream_test.go
  backend/internal/api/transfer_buffers.go
  backend/internal/api/transfer_buffers_test.go
  backend/internal/store/object_favorites_test.go
Due: build_s3desk_image, api_integration

Add transfer concurrency preferences
  frontend/src/components/transfers/__tests__/useTransfersRuntimeController.test.tsx
  frontend/src/components/transfers/__tests__/useTransfersUploadPreferences.test.tsx
  frontend/src/components/transfers/transferConcurrencyPreferences.ts
  frontend/src/components/transfers/useTransfersRuntimeController.ts
  frontend/src/components/transfers/useTransfersUploadPreferences.ts
  frontend/src/components/transfers/useTransfersUploadRuntime.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/settings/TransfersSettingsSection.tsx
Due: build_s3desk_image

Document webview support boundaries
  docs/MOBILE_UX_AUDIT.md
  docs/README.md
  docs/WEBVIEW_COMPATIBILITY.md
  docs/WEBVIEW_QA_TEST_CASES.md
  frontend/src/pages/objects/objects.module.css
  frontend/tests/support/webviewFixtures.ts
  frontend/tests/webview-clipboard.spec.ts
  frontend/tests/webview-environment-posture.spec.ts
  frontend/tests/webview-realtime.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

Improve demo stack endpoint defaults
  .env.example
  compose/demo/compose.yml
  scripts/demo/seed-minio.sh
  scripts/demo/seed-s3desk.py
Due: none

Remediate backend gosec findings
  backend/internal/api/disk_space_unix.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_backup_test.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_restores.go
  backend/internal/api/handlers_thumbnails.go
  backend/internal/api/handlers_uploads.go
  backend/internal/api/handlers_uploads_chunks.go
  backend/internal/api/handlers_uploads_commit.go
  backend/internal/api/handlers_uploads_multipart.go
  backend/internal/api/handlers_uploads_multipart_test.go
  backend/internal/api/upload_multipart_limits.go
  backend/internal/azurearmimmutability/client.go
  backend/internal/gcsbucket/gcsbucket.go
  backend/internal/jobs/manager.go
  backend/internal/ocicli/ocicli.go
  backend/internal/ocicli/ocicli_test.go
Due: build_s3desk_image, api_integration

Allow apiToken query fallback
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
Due: build_s3desk_image, api_integration

Adjust demo compose networking defaults
  compose/demo/compose.yml
Due: none

Recover invalid active profile selection
  frontend/src/FullAppInner.tsx
Due: build_s3desk_image

docs: add 85-point quality improvement plan and detailed checklist
  docs/CODEBASE_QUALITY_85POINT_ACTION_PLAN.md
  docs/CODEBASE_QUALITY_FIX_CHECKLIST.md
  docs/CODEBASE_QUALITY_PR_TEMPLATE.md
  docs/CODEBASE_QUALITY_REPORT.md
Due: none

chore: update demo stack host defaults
  .env
  .env.example
  THIRD_PARTY_NOTICES.md
  compose/demo/compose.yml
Due: none

refactor(backend): split jobs and store internals
  backend/internal/jobs/manager.go
  backend/internal/jobs/manager_connectivity.go
  backend/internal/jobs/manager_dispatch.go
  backend/internal/jobs/manager_job_types.go
  backend/internal/jobs/manager_maintenance.go
  backend/internal/jobs/manager_queue.go
  backend/internal/jobs/manager_rclone_config.go
  backend/internal/jobs/manager_rclone_engine.go
  backend/internal/jobs/manager_runtime.go
  backend/internal/jobs/manager_state_transitions.go
  backend/internal/jobs/manager_transfer_execution.go
  backend/internal/jobs/manager_transfer_totals.go
  backend/internal/jobs/manager_wiring.go
  backend/internal/store/store.go
  backend/internal/store/store_helpers.go
  backend/internal/store/store_profile_secrets.go
  backend/internal/store/store_profiles.go
  backend/internal/store/store_upload_sessions.go
Due: build_s3desk_image, api_integration

refactor(frontend): modularize api client and test facades
  frontend/src/FullAppInner.tsx
  frontend/src/LightApp.tsx
  frontend/src/__tests__/FullAppInner.smoke.test.tsx
  frontend/src/api/__tests__/client.retry.test.ts
  frontend/src/api/client.ts
  frontend/src/api/clientContracts.ts
  frontend/src/api/clientSubFacades.ts
  frontend/src/api/clientTransport.ts
  frontend/src/api/config.ts
  frontend/src/api/domains/buckets.ts
  frontend/src/api/domains/downloads.ts
  frontend/src/api/domains/jobs.ts
  frontend/src/api/domains/objects.ts
  frontend/src/api/domains/profiles.ts
  frontend/src/api/domains/server.ts
  frontend/src/api/domains/uploads.ts
  frontend/src/api/errors.ts
  frontend/src/api/headers.ts
  frontend/src/api/retryTransport.ts
  frontend/src/api/types.ts
  frontend/src/api/uploads.ts
  frontend/src/components/SidebarBackupAction.tsx
  frontend/src/components/__tests__/SidebarBackupAction.test.tsx
  frontend/src/components/transfers/presignedUpload.ts
  frontend/src/components/transfers/useTransfersDownloadQueue.ts
  frontend/src/components/transfers/useTransfersUploadJobEvents.ts
  frontend/src/components/transfers/useTransfersUploadRuntime.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/__tests__/LoginPage.test.tsx
  frontend/src/pages/__tests__/UploadsPage.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsActionMutations.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsLogsState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsUploadDetails.test.tsx
  frontend/src/pages/jobs/useJobsActionMutations.ts
  frontend/src/pages/jobs/useJobsLogsState.ts
  frontend/src/pages/jobs/useJobsPageController.tsx
  frontend/src/pages/jobs/useJobsUploadDetails.ts
  frontend/src/test/mockApiClient.ts
Due: build_s3desk_image

refactor(frontend): split bucket and profile modal flows
  frontend/src/components/TopBarProfileSelect.tsx
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/ProfilesPage.module.css
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/__tests__/BucketsPage.routes.test.tsx
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/__tests__/ProfilesPage.lazy.test.tsx
  frontend/src/pages/__tests__/ProfilesPage.smoke.test.tsx
  frontend/src/pages/buckets/BucketCreateDefaultsSection.tsx
  frontend/src/pages/buckets/BucketGovernanceModal.tsx
  frontend/src/pages/buckets/BucketModal.tsx
  frontend/src/pages/buckets/BucketPolicyContentTabs.tsx
  frontend/src/pages/buckets/BucketPolicyFooterActions.tsx
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/buckets/BucketPolicyModalShell.tsx
  frontend/src/pages/buckets/BucketPolicyWorkspaceHeader.tsx
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/buckets/__tests__/BucketPolicyModal.test.tsx
  frontend/src/pages/buckets/bucketCreateDefaultsBuild.ts
  frontend/src/pages/buckets/bucketCreateDefaultsState.ts
  frontend/src/pages/buckets/bucketPolicyDiff.ts
  frontend/src/pages/buckets/bucketPolicyStructuredState.ts
  frontend/src/pages/buckets/bucketPolicyValidation.ts
  frontend/src/pages/buckets/governance/aws-controls.tsx
  frontend/src/pages/buckets/governance/azure-controls.tsx
  frontend/src/pages/buckets/governance/gcs-controls.tsx
  frontend/src/pages/buckets/governance/oci-controls.tsx
  frontend/src/pages/buckets/useBucketPolicyMutations.ts
  frontend/src/pages/buckets/useBucketPolicyQuery.ts
  frontend/src/pages/profiles/profileModalAdvancedSection.tsx
  frontend/src/pages/profiles/profileModalBasicConnectionSection.tsx
  frontend/src/pages/profiles/profileModalCredentialsSection.tsx
  frontend/src/pages/profiles/profileModalSectionContent.tsx
  frontend/src/pages/profiles/profileModalSectionShared.tsx
  frontend/src/pages/profiles/profileModalSecuritySection.tsx
Due: build_s3desk_image

test: add mobile responsive suite and local smoke gates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/mobile-responsive.yml
  .github/ISSUE_TEMPLATE/objects-mobile-responsive.yml
  .github/pull_request_template.md
  .github/workflows/frontend-e2e.yml
  docs/RELEASE_GATE.md
  docs/TESTING.md
  frontend/docs/BUCKETS_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/docs/JOBS_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/docs/LOGIN_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/docs/MOBILE_RESPONSIVE_E2E.md
  frontend/docs/OBJECTS_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/docs/PROFILES_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/docs/SETTINGS_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/docs/UPLOADS_MOBILE_RESPONSIVE_CHECKLIST.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/buckets-mobile-responsive.spec.ts
  frontend/tests/jobs-mobile-responsive.spec.ts
  frontend/tests/login-mobile-responsive.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/objects-smoke.spec.ts
  frontend/tests/profiles-mobile-responsive.spec.ts
  frontend/tests/settings-auth.spec.ts
  frontend/tests/settings-mobile-responsive.spec.ts
  frontend/tests/support/jobsMobileResponsive.ts
  frontend/tests/support/mobileResponsive.ts
  frontend/tests/support/objectsMobileResponsive.ts
  frontend/tests/support/profilesBucketsMobileResponsive.ts
  frontend/tests/support/settingsLoginMobileResponsive.ts
  frontend/tests/support/uploadsMobileResponsive.ts
  frontend/tests/uploads-mobile-responsive.spec.ts
  scripts/check.sh
Due: build_s3desk_image

docs: add refactor planning and PR follow-up notes
  notes/API_CLIENT_TOP_LEVEL_WRAPPER_MIGRATION_SCOPE_2026-03-19.md
  notes/BACKEND_JOBS_MANAGER_CLEANUP_PATCH_PLAN_2026-03-20.md
  notes/BACKEND_JOBS_MANAGER_PHASE1_PATCH_PLAN_2026-03-19.md
  notes/BACKEND_JOBS_MANAGER_SPLIT_PLAN_2026-03-19.md
  notes/BUCKET_MODAL_SPLIT_NOTE_2026-03-20.md
  notes/BUCKET_MODAL_SPLIT_PLAN_2026-03-20.md
  notes/BUCKET_POLICY_MODAL_SPLIT_PLAN_2026-03-20.md
  notes/CLIENT_SUBFACADES_SPLIT_DESIGN_2026-03-20.md
  notes/CODEBASE_IMPROVEMENT_BACKLOG_2026-03-19.md
  notes/CODEBASE_IMPROVEMENT_GITHUB_ISSUES_2026-03-19.md
  notes/CODEBASE_QUALITY_BACKLOG_DRAFTS_2026-03-19.md
  notes/CODEBASE_QUALITY_GITHUB_ISSUES_2026-03-19.md
  notes/CODEBASE_QUALITY_REVIEW_2026-03-19.md
  notes/CODEBASE_REFACTOR_QUALITY_SUMMARY_2026-03-20.md
  notes/FOLLOWUP_ISSUE_DRAFTS_2026-03-20.md
  notes/FRONTEND_API_CLIENT_CLEANUP_PATCH_PLAN_2026-03-20.md
  notes/FRONTEND_API_CLIENT_SPLIT_PLAN_2026-03-19.md
  notes/FRONTEND_API_CLIENT_STEP1_FILE_PLAN_2026-03-19.md
  notes/INDEX.md
  notes/MANAGER_TRANSFER_EXECUTION_GROWTH_GUARD_2026-03-20.md
  notes/MOCK_API_CLIENT_REMAINING_CANDIDATES_2026-03-20.md
  notes/NEXT_ACTION_CHECKLIST_2026-03-20.md
  notes/OBJECTS_CSS_FINAL_REMAINING_SCOPE_2026-03-19.md
  notes/OBJECTS_CSS_PHASE1_COMMIT_PLAN_2026-03-19.md
  notes/OBJECTS_CSS_PHASE1_PATCH_PLAN_2026-03-19.md
  notes/OBJECTS_CSS_PHASE2_PATCH_PLAN_2026-03-19.md
  notes/OBJECTS_CSS_SPLIT_FINAL_SUMMARY_2026-03-19.md
  notes/PROFILES_PAGE_TEST_STABILIZATION_NOTE_2026-03-20.md
  notes/PROFILE_MODAL_SECTION_SPLIT_NOTE_2026-03-20.md
  notes/PR_BODY_REFACTOR_QUALITY_2026-03-20.md
  notes/QUALITY_GATE_FAST_FULL_PLAN_2026-03-20.md
  notes/STABLE_ZONES_2026-03-20.md
  notes/STORE_GO_SPLIT_DETAILED_PLAN_2026-03-20.md
Due: none

chore: satisfy full quality gate
  THIRD_PARTY_NOTICES.md
  backend/internal/api/handlers_objects_folder_cloud_smoke_test.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_restores.go
  backend/internal/api/transfer_buffers.go
  backend/internal/bucketgov/aws_lifecycle.go
  backend/internal/bucketgov/aws_live_matrix_test.go
  backend/internal/bucketgov/aws_public_exposure_test.go
  backend/internal/bucketgov/capability_support.go
  backend/internal/jobs/manager.go
  backend/internal/jobs/manager_wiring.go
  backend/internal/jobs/s3_index_objects.go
  backend/internal/profiletls/config_test.go
  backend/internal/s3client/client_test.go
Due: build_s3desk_image, api_integration

docs: shorten PR body draft
  notes/PR_BODY_REFACTOR_QUALITY_2026-03-20.md
Due: none

fix: stabilize objects layout and demo seeding
  compose/demo/compose.yml
  frontend/src/pages/objects/ObjectsListSectionContainer.tsx
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  scripts/demo/seed-s3desk.py
  scripts/demo/seed_s3desk_test.py
Due: build_s3desk_image

security: remove query token auth and switch upload events to realtime tickets
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
  docs/S3Desk.insomnia_collection.json
  docs/S3Desk.postman_collection.json
  frontend/src/components/transfers/__tests__/useTransfersUploadJobEvents.test.tsx
  frontend/src/components/transfers/useTransfersUploadJobEvents.ts
Due: build_s3desk_image, api_integration

jobs: add graceful rclone cancellation and strict env validation
  backend/internal/app/app.go
  backend/internal/app/app_test.go
  backend/internal/jobs/manager.go
  backend/internal/jobs/manager_env_test.go
  backend/internal/jobs/manager_queue.go
  backend/internal/jobs/manager_queue_test.go
  backend/internal/jobs/manager_runtime.go
  backend/internal/jobs/manager_tuning.go
  backend/internal/jobs/manager_wiring.go
  backend/internal/jobs/process_kill.go
  backend/internal/jobs/process_kill_test.go
  backend/internal/jobs/rclone_attempt.go
  backend/internal/jobs/rclone_exec.go
  backend/internal/jobs/rclone_exec_test.go
  backend/internal/jobs/rclone_progress.go
Due: build_s3desk_image, api_integration

security: restrict tls skip verify to private https endpoints
  backend/internal/api/handlers_profiles.go
  backend/internal/api/profile_endpoint_validation.go
  backend/internal/api/profile_endpoint_validation_test.go
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/__tests__/profileModalValidation.test.ts
  frontend/src/pages/profiles/profileModalAdvancedSection.tsx
  frontend/src/pages/profiles/profileModalValidation.ts
  frontend/src/pages/profiles/profileViewModel.ts
Due: build_s3desk_image, api_integration

config: fail fast on invalid server env overrides
  backend/cmd/server/main.go
  backend/cmd/server/main_test.go
Due: build_s3desk_image, api_integration

perf: reduce initial bundle and objects route chunk size
  frontend/src/LightApp.tsx
  frontend/src/api/lightClient.ts
  frontend/src/pages/ObjectsPageScreen.tsx
  frontend/src/pages/objects/ObjectsPagePanes.tsx
  frontend/src/pages/objects/__tests__/ObjectsPage.smoke.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  frontend/src/pages/objects/objectsPageLazy.ts
Due: build_s3desk_image

ci: harden release and deploy verification pipeline
  .github/workflows/frontend-e2e.yml
  .github/workflows/release-gate.yml
  docs/RELEASE_GATE.md
  scripts/check.sh
  scripts/deploy_compose_release.sh
  scripts/deploy_helm_release.sh
  scripts/deploy_smoke.sh
  scripts/verify_release_readiness.sh
Due: none
