Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

fix: separate public S3 endpoint and harden upload fallbacks
  backend/internal/api/handlers_profiles.go
  backend/internal/api/handlers_thumbnails.go
  backend/internal/db/db.go
  backend/internal/models/models.go
  backend/internal/s3client/client.go
  backend/internal/store/models_gorm.go
  backend/internal/store/store.go
  frontend/src/components/transfers/presignedUpload.ts
  frontend/src/components/transfers/useTransfersUploadRuntime.ts
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/__tests__/profileModalValidation.test.ts
  frontend/src/pages/profiles/profileModalSectionContent.tsx
  frontend/src/pages/profiles/profileModalValidation.ts
  frontend/src/pages/profiles/profileMutationUtils.ts
  frontend/src/pages/profiles/profileTypes.ts
  frontend/src/pages/profiles/profileViewModel.ts
  frontend/src/pages/profiles/profileYaml.ts
Due: build_s3desk_image, api_integration

fix: improve video thumbnail fallbacks and reuse
  backend/internal/api/handlers_thumbnails.go
  frontend/src/lib/thumbnailCache.ts
  frontend/src/pages/objects/ObjectThumbnail.tsx
  frontend/src/pages/objects/ObjectsListRowItems.tsx
  frontend/src/pages/objects/useObjectPreview.ts
  frontend/src/pages/objects/useObjectsObjectGridRenderer.tsx
  frontend/src/pages/objects/useObjectsScreenPreviewState.tsx
Due: build_s3desk_image, api_integration

fix: persist shared thumbnails for image formats
  frontend/src/lib/thumbnailCache.ts
Due: build_s3desk_image

security: harden api token login flow
  backend/internal/api/api.go
  backend/internal/api/middleware.go
  backend/internal/api/server.go
  frontend/src/FullAppInner.tsx
  frontend/src/LightApp.tsx
  frontend/src/lib/useSessionStorageState.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/settings/AccessSettingsSection.tsx
Due: build_s3desk_image, api_integration

fix: stabilize gif thumbnails and image preview reuse
  backend/internal/api/handlers_thumbnails.go
  frontend/src/pages/objects/useObjectPreview.ts
Due: build_s3desk_image, api_integration

feat: expand typed bucket governance controls
  backend/internal/api/api.go
  backend/internal/api/handlers_bucket_governance_sharing.go
  backend/internal/api/handlers_bucket_governance_test.go
  backend/internal/api/handlers_meta_test.go
  backend/internal/api/handlers_profiles.go
  backend/internal/api/openapi_contract_test.go
  backend/internal/azurearmimmutability/client.go
  backend/internal/bucketgov/aws_lifecycle.go
  backend/internal/bucketgov/azure_adapter.go
  backend/internal/bucketgov/capabilities.go
  backend/internal/bucketgov/create_defaults_test.go
  backend/internal/bucketgov/gcs_adapter.go
  backend/internal/bucketgov/oci_adapter.go
  backend/internal/bucketgov/provider_adapters_test.go
  backend/internal/bucketgov/registry.go
  backend/internal/bucketgov/service.go
  backend/internal/bucketgov/service_test.go
  backend/internal/bucketgov/validate.go
  backend/internal/models/models.go
  backend/internal/ocicli/ocicli.go
  backend/internal/store/store.go
  docs/BUCKET_GOVERNANCE_DESIGN.md
  docs/BUCKET_GOVERNANCE_REMAINING_WORK.md
  docs/PROVIDERS.md
  docs/README.md
  frontend/src/api/client.ts
  frontend/src/api/openapi.ts
  frontend/src/pages/buckets/BucketGovernanceModal.module.css
  frontend/src/pages/buckets/BucketGovernanceModal.tsx
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/__tests__/profileModalValidation.test.ts
  frontend/src/pages/profiles/profileModalSectionContent.tsx
  frontend/src/pages/profiles/profileModalValidation.ts
  frontend/src/pages/profiles/profileMutationUtils.ts
  frontend/src/pages/profiles/profileTypes.ts
  frontend/src/pages/profiles/profileViewModel.ts
  frontend/src/pages/profiles/profileYaml.ts
  frontend/tests/bucket-governance.spec.ts
  openapi.yml
Due: build_s3desk_image, api_integration

docs: refresh bucket governance rollout notes
  docs/BUCKET_GOVERNANCE_DESIGN.md
  docs/BUCKET_GOVERNANCE_LIVE_VALIDATION.md
  docs/BUCKET_GOVERNANCE_REMAINING_WORK.md
  docs/PROVIDERS.md
  docs/README.md
Due: none

chore: prune stale staged restores on access
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_restores.go
Due: build_s3desk_image, api_integration

fix: restore settings toast import
  frontend/src/pages/settings/ServerSettingsSection.tsx
Due: build_s3desk_image

feat: expose server backup capabilities
  backend/internal/api/handlers_meta.go
  backend/internal/api/handlers_meta_test.go
  backend/internal/api/openapi_contract_test.go
  backend/internal/models/models.go
  docs/TECH_DEBT.md
  docs/TECH_DEBT_CHECKLIST.md
  frontend/src/api/openapi.ts
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  frontend/tests/support/apiFixtures.ts
  openapi.yml
Due: build_s3desk_image, api_integration

chore: tighten backup, release, and governance flows
  .github/workflows/release-gate.yml
  backend/internal/api/download_stream_test.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_thumbnails.go
  backend/internal/api/handlers_thumbnails_test.go
  backend/internal/api/process_testhooks.go
  backend/internal/api/rclone_helpers.go
  backend/internal/api/rclone_process_testhelpers_test.go
  backend/internal/bucketgov/capability_support.go
  backend/internal/bucketgov/registry.go
  backend/internal/bucketgov/service.go
  backend/internal/bucketgov/service_helpers.go
  backend/internal/bucketgov/validate.go
  backend/internal/bucketgov/validate_access.go
  backend/internal/bucketgov/validate_protection.go
  backend/internal/bucketgov/validate_public_exposure.go
  backend/internal/bucketgov/validate_sharing.go
  backend/internal/jobs/process_testhelpers_test.go
  backend/internal/jobs/process_testhooks.go
  backend/internal/jobs/rclone.go
  backend/internal/jobs/rclone_attempt.go
  backend/internal/jobs/rclone_exec.go
  backend/internal/models/models.go
  docs/RELEASE_GATE.md
  docs/RUNBOOK.md
  docs/TECH_DEBT.md
  docs/TECH_DEBT_CHECKLIST.md
  docs/TESTING.md
  frontend/src/api/client.ts
  frontend/src/api/openapi.ts
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  openapi.yml
  scripts/check.sh
  scripts/check_release_gate.sh
Due: build_s3desk_image, api_integration

fix: finalize validation prep for encrypted backups
  backend/internal/bucketgov/create_defaults.go
  docs/BUCKET_GOVERNANCE_LIVE_VALIDATION.md
Due: build_s3desk_image, api_integration

security: harden realtime auth and restore handling
  backend/cmd/server/main.go
  backend/internal/api/api.go
  backend/internal/api/download_proxy.go
  backend/internal/api/handlers_objects_folder_cloud_smoke_test.go
  backend/internal/api/handlers_profiles.go
  backend/internal/api/handlers_realtime_ticket.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_backup_test.go
  backend/internal/api/handlers_thumbnails_test.go
  backend/internal/api/handlers_ws.go
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
  backend/internal/api/rclone_process_testhelpers_test.go
  backend/internal/api/realtime_tickets.go
  backend/internal/api/server.go
  backend/internal/config/config.go
  backend/internal/rcloneconfig/config.go
  backend/internal/rcloneconfig/config_test.go
  docker-compose-demo.yml
  frontend/src/pages/jobs/useJobsRealtimeEvents.ts
Due: build_s3desk_image, api_integration

feat: add demo seed scripts
  scripts/demo/seed-minio.sh
  scripts/demo/seed-s3desk.py
Due: none

docs: add frontend ux backlog
  docs/FRONTEND_UX_BACKLOG.md
  docs/README.md
Due: none

fix: use public endpoint for browser downloads
  backend/internal/api/handlers_objects.go
Due: build_s3desk_image, api_integration

feat: remember dismissed confirmation dialogs
  frontend/src/lib/ConfirmDangerDialog.tsx
  frontend/src/lib/confirmDangerAction.tsx
  frontend/src/lib/dialogPreferences.ts
  frontend/src/pages/settings/AccessSettingsSection.tsx
Due: build_s3desk_image

feat: improve objects browsing interactions
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/objects/ObjectThumbnail.tsx
  frontend/src/pages/objects/ObjectsDetailsContent.tsx
  frontend/src/pages/objects/ObjectsImageViewerModal.tsx
  frontend/src/pages/objects/ObjectsListRow.tsx
  frontend/src/pages/objects/ObjectsListRowItems.tsx
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/objects/objectsActionCatalog.tsx
  frontend/src/pages/objects/objectsDropIntent.ts
  frontend/src/pages/objects/objectsTypes.ts
  frontend/src/pages/objects/useObjectPreview.ts
  frontend/src/pages/objects/useObjectsClipboard.tsx
  frontend/src/pages/objects/useObjectsDnd.tsx
  frontend/src/pages/objects/useObjectsLocationState.ts
  frontend/src/pages/objects/useObjectsObjectGridRenderer.tsx
  frontend/src/pages/objects/useObjectsPageData.ts
  frontend/src/pages/objects/useObjectsUploadDrop.tsx
Due: build_s3desk_image

feat: polish settings and transfer workflows
  frontend/src/components/transfers/TransferUploadRow.tsx
  frontend/src/components/transfers/transferTypes.ts
  frontend/src/components/transfers/useTransfersUploadRuntime.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/profileModalSectionContent.tsx
  frontend/src/pages/settings/ServerSettingsSection.tsx
Due: build_s3desk_image

feat: simplify bucket policy and governance dialogs
  frontend/src/lib/pendingActionGuard.ts
  frontend/src/pages/buckets/BucketGovernanceModal.module.css
  frontend/src/pages/buckets/BucketModal.tsx
  frontend/src/pages/buckets/BucketPolicyModal.module.css
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/buckets/governance/shell.tsx
Due: build_s3desk_image

docs: rewrite 0.21v-rc1 changelog summary
  CHANGELOG.md
Due: none

docs: add deployment env template and validation notes
  .env.example
  CHANGELOG.md
  README.md
  docs/BUCKET_GOVERNANCE_LIVE_VALIDATION.md
  docs/README.md
  docs/RELEASE_GATE.md
  docs/RUNBOOK.md
  docs/TESTING.md
  docs/ci/provider_live_validation.env.example
Due: none

docs: design portable backup and import flow
  docs/PORTABLE_BACKUP_CHECKLIST.md
  docs/PORTABLE_BACKUP_DESIGN.md
  docs/README.md
Due: none

feat: add portable backup and import flow
  backend/internal/api/api.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_portable_test.go
  backend/internal/models/models.go
  backend/internal/store/store_portable.go
  docs/PORTABLE_BACKUP_CHECKLIST.md
  docs/PORTABLE_BACKUP_DESIGN.md
  docs/RUNBOOK.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  openapi.yml
Due: build_s3desk_image, api_integration

chore: regenerate frontend api types
  frontend/src/api/openapi.ts
  frontend/src/api/types.ts
Due: build_s3desk_image

refactor: split jobs page controller and table views
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/jobs/JobsDesktopTable.tsx
  frontend/src/pages/jobs/JobsEmptyState.tsx
  frontend/src/pages/jobs/JobsMobileList.tsx
  frontend/src/pages/jobs/JobsRowActions.tsx
  frontend/src/pages/jobs/JobsTableSection.tsx
  frontend/src/pages/jobs/__tests__/JobsRowActions.test.tsx
  frontend/src/pages/jobs/__tests__/JobsTableSection.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsTableColumns.test.tsx
  frontend/src/pages/jobs/useJobsPageController.tsx
  frontend/src/pages/jobs/useJobsTableColumns.tsx
Due: build_s3desk_image

docs: finalize 0.21v-rc2 changelog
  CHANGELOG.md
Due: none

docs: add release metadata rules to agents
  AGENTS.md
Due: none

docs: add GitHub release workflow rules to agents
  AGENTS.md
Due: none

docs: refresh root README
  README.md
Due: none

deploy: make demo compose podman-friendly
  docker-compose-demo.yml
Due: none

test: add sqlite-to-postgres portable smoke
  README.md
  docker-compose.portable-smoke.yml
  docs/PORTABLE_BACKUP_CHECKLIST.md
  docs/RUNBOOK.md
  docs/TESTING.md
  scripts/portable/run-smoke.py
  scripts/portable/seed-source.py
  scripts/run_portable_sqlite_to_postgres_smoke.sh
Due: none

feat: support portable export across sqlite and postgres
  README.md
  backend/internal/api/handlers_jobs_test.go
  backend/internal/api/handlers_meta.go
  backend/internal/api/handlers_meta_test.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_backup_test.go
  backend/internal/api/handlers_server_portable_test.go
  docker-compose.portable-smoke.yml
  docs/PORTABLE_BACKUP_CHECKLIST.md
  docs/PORTABLE_BACKUP_DESIGN.md
  docs/RUNBOOK.md
  docs/TESTING.md
  frontend/src/api/openapi.ts
  frontend/src/components/SidebarBackupAction.tsx
  frontend/src/components/__tests__/SidebarBackupAction.test.tsx
  openapi.yml
  scripts/portable/run-smoke.py
  scripts/run_portable_postgres_to_sqlite_smoke.sh
  scripts/run_portable_sqlite_to_postgres_smoke.sh
Due: build_s3desk_image, api_integration

build: harden Helm chart deployment support
  charts/s3desk/Chart.yaml
  charts/s3desk/README.md
  charts/s3desk/templates/NOTES.txt
  charts/s3desk/templates/_helpers.tpl
  charts/s3desk/templates/deployment.yaml
  charts/s3desk/templates/networkpolicy.yaml
  charts/s3desk/templates/podmonitor.yaml
  charts/s3desk/templates/secret.yaml
  charts/s3desk/templates/serviceaccount.yaml
  charts/s3desk/templates/servicemonitor.yaml
  charts/s3desk/values-istio.yaml
  charts/s3desk/values.schema.json
  charts/s3desk/values.yaml
  compose/demo/compose.yml
  compose/dev/compose.yml
  compose/remote/compose.yml
  compose/test/e2e.yml
  compose/test/portable-smoke.yml
  docker-compose.yml
  scripts/chart_version_from_tag.sh
  scripts/check.sh
  scripts/check_helm_chart.sh
  scripts/deploy_helm_release.sh
  scripts/update_chart_version.sh
  scripts/validate_release_tag.sh
Due: none

test: expand portable smoke and compose workflows
  .env
  .env.example
  .github/workflows/frontend-e2e.yml
  README.md
  backend/internal/api/handlers_server_portable_test.go
  compose/demo/compose.yml
  compose/dev/compose.yml
  compose/remote/caddy.yml
  compose/test/e2e.yml
  compose/test/portable-smoke.yml
  deploy/caddy/Caddyfile
  docs/CADDY_DEPLOYMENT.md
  docs/PORTABLE_BACKUP_CHECKLIST.md
  docs/RUNBOOK.md
  docs/TESTING.md
  scripts/compose.sh
  scripts/demo/seed-minio.sh
  scripts/deploy_compose_release.sh
  scripts/portable/run-failure-smoke.py
  scripts/portable/run-smoke.py
  scripts/portable/seed-source.py
  scripts/run_portable_failure_smoke.sh
  scripts/run_portable_postgres_to_sqlite_failure_smoke.sh
  scripts/run_portable_sqlite_to_postgres_smoke.sh
Due: build_s3desk_image, api_integration

docs: simplify retained documentation set
  README.md
  docs/BUCKET_GOVERNANCE.md
  docs/BUCKET_GOVERNANCE_DESIGN.md
  docs/BUCKET_GOVERNANCE_LIVE_VALIDATION.md
  docs/BUCKET_GOVERNANCE_REMAINING_WORK.md
  docs/CADDY_DEPLOYMENT.md
  docs/PORTABLE_BACKUP.md
  docs/PORTABLE_BACKUP_CHECKLIST.md
  docs/PORTABLE_BACKUP_DESIGN.md
  docs/README.md
  docs/RELEASE_GATE.md
  docs/RUNBOOK.md
  docs/TESTING.md
  docs/USAGE.md
  frontend/README.md
  frontend/docs/UI_OPERATION_FEEDBACK.md
  notes/FRONTEND_UX_BACKLOG.md
  notes/JOBS_PAGE_CHECKLIST.md
  notes/TECH_DEBT.md
  notes/TECH_DEBT_CHECKLIST.md
  scripts/check_release_gate.sh
Due: build_s3desk_image
