Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

build_s3desk_image:
  stage: build
  image: quay.io/podman/stable:latest
  variables:
    STORAGE_DRIVER: vfs
    CONTAINERS_STORAGE_DRIVER: vfs
    BUILDAH_ISOLATION: chroot
    HARBOR_REGISTRY: harbor.k8s.homelabird.com
    S3DESK_IMAGE: ${HARBOR_REGISTRY}/library/s3desk:${CI_COMMIT_SHA}
  before_script:
  ...

api_integration:
  stage: test
  image: quay.io/podman/stable:latest
  variables:
    STORAGE_DRIVER: vfs
    CONTAINERS_STORAGE_DRIVER: vfs
    BUILDAH_ISOLATION: chroot
    PODMAN_NETWORK_BACKEND: slirp4netns
    CONTAINERS_NETWORK_BACKEND: slirp4netns
    HARBOR_REGISTRY: harbor.k8s.homelabird.com
  ...

feat(release): add upgrade compatibility gate
  .gitlab-ci.yml
  Containerfile
  Containerfile.deploy
  Containerfile.local
  backend/internal/db/db_test.go
  backend/internal/jobs/rclone_upgrade_test.go
  backend/internal/version/version.go
  docs/RELEASE_GATE.md
  docs/TESTING.md
  scripts/check_release_gate.sh
  scripts/report_release_scope.py
  scripts/report_release_scope_test.py
  scripts/run_container_legacy_db_smoke.sh
  scripts/run_container_legacy_postgres_smoke.sh
Due: build_s3desk_image, api_integration

fix(frontend): align runtime flows and tests
  frontend/src/auth/AuthProvider.tsx
  frontend/src/components/transfers/__tests__/useTransfersDownloadQueue.test.tsx
  frontend/src/components/transfers/useTransfersDownloadQueue.ts
  frontend/src/components/transfers/useTransfersUploadJobLifecycle.ts
  frontend/src/lib/__tests__/actionHints.test.ts
  frontend/src/lib/actionHints.ts
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/src/pages/objects/ObjectsToolbarSection.tsx
  frontend/src/pages/objects/objectsPageLazy.ts
  frontend/src/pages/objects/useObjectPreview.ts
  frontend/src/pages/objects/useObjectsListVirtualizer.ts
  frontend/src/pages/objects/useObjectsPrefetch.ts
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/profileModalBasicConnectionSection.tsx
  frontend/src/pages/profiles/profileModalCredentialsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  frontend/tests/docs-smoke.spec.ts
  frontend/tests/objects-image-preview-live.spec.ts
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/objects-smoke.spec.ts
  frontend/tests/server-migration-live.spec.ts
  frontend/tests/storage-migration.spec.ts
  frontend/tests/support/apiFixtures.ts
  frontend/tests/support/mockApi.ts
  frontend/tests/support/storage.ts
  frontend/tests/support/ui.ts
  frontend/tests/uploads-more-menu.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

fix(security): harden runtime defaults
  backend/internal/api/middleware_api_token.go
  backend/internal/api/openapi_docs.go
  backend/internal/api/realtime_tickets.go
  backend/internal/jobs/manager_queue.go
  backend/internal/localpath/guard.go
  backend/internal/store/upload_objects.go
  backend/internal/ws/hub.go
  charts/s3desk/templates/networkpolicy.yaml
  compose/demo/compose.yml
  docs/ci/e2e_live.env.example
  scripts/demo/seed-s3desk.py
  scripts/helm_k8s_smoke.sh
  scripts/run_live_e2e_local.sh
Due: build_s3desk_image, api_integration

ci(release): harden artifact gates
  .github/workflows/frontend-e2e.yml
  .github/workflows/license-audit.yml
  .github/workflows/release-gate.yml
  .gitlab-ci.yml
  README.md
  charts/s3desk/README.md
  charts/s3desk/templates/_helpers.tpl
  charts/s3desk/templates/deployment.yaml
  charts/s3desk/values.schema.json
  charts/s3desk/values.yaml
  docs/README.md
  docs/RELEASE_GATE.md
  docs/RUNBOOK.md
  docs/TESTING.md
  docs/release/REMAINING_STRUCTURE_DEBT.md
  scripts/check.sh
  scripts/check_ci_pair.sh
  scripts/check_github_workflows.py
  scripts/check_github_workflows_test.py
  scripts/check_helm_chart.sh
  scripts/check_release_gate.sh
  scripts/deploy_smoke.sh
  scripts/generate_third_party_notices.py
  scripts/portable/run-failure-smoke.py
  scripts/run_live_e2e_local.sh
Due: none

docs(frontend): archive completed UX backlog
  notes/FRONTEND_UX_BACKLOG.md
Due: none

fix: improve accessibility regressions and overlay focus
  frontend/docs/WCAG_ACCESSIBILITY_AUDIT_2026-08-13.ko.md
  frontend/src/components/appTabs.module.css
  frontend/src/components/useOverlayLayer.ts
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProfilesPage.module.css
  frontend/src/pages/UploadsPage.module.css
  frontend/src/pages/objects/ObjectsGlobalSearchDrawer.tsx
  frontend/src/pages/profiles/ProfileModal.module.css
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/dark-theme-accessibility.spec.ts
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/wcag-reflow.spec.ts
Due: build_s3desk_image

feat: add runtime settings diagnostics and logging metrics config
  backend/internal/api/middleware_logging.go
  backend/internal/api/middleware_logging_test.go
  backend/internal/metrics/metrics.go
  backend/internal/metrics/metrics_test.go
  charts/s3desk/templates/deployment.yaml
  charts/s3desk/values-production.yaml
  docs/OPERATIONS_SETTINGS_LOGGING_MONITORING_AUDIT_2026-08-13.ko.md
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/settings/NetworkSettingsSection.tsx
  frontend/src/pages/settings/ObjectsSettingsSection.tsx
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/TransfersSettingsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  frontend/tests/server-migration-live.spec.ts
  frontend/tests/support/apiFixtures.ts
  scripts/check_helm_chart.sh
Due: build_s3desk_image, api_integration

feat(ops): add remote syslog overlay
  .env.example
  compose/remote/syslog.yml
  docs/RUNBOOK.md
  scripts/compose.sh
Due: none

perf(jobs): bound queue storage growth
  backend/internal/jobs/manager.go
  backend/internal/jobs/manager_queue.go
  backend/internal/jobs/manager_queue_test.go
Due: build_s3desk_image, api_integration

fix(jobs): persist and render canonical logs
  backend/internal/api/handlers_uploads_commit_finalize_service.go
  backend/internal/api/handlers_uploads_multipart_failures_test.go
  backend/internal/jobs/job_log_redaction_test.go
  backend/internal/jobs/joblog.go
  backend/internal/jobs/manager_rclone_engine.go
  backend/internal/jobs/rclone_progress.go
  backend/internal/jobs/s3_delete_objects.go
  backend/internal/jobs/s3_index_objects.go
  frontend/src/pages/jobs/JobsLogsDrawer.module.css
  frontend/src/pages/jobs/JobsLogsDrawer.tsx
  frontend/src/pages/jobs/JobsRowActions.tsx
  frontend/src/pages/jobs/__tests__/JobsLogsDrawer.test.tsx
  frontend/src/pages/jobs/__tests__/JobsRowActions.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsColumnsVisibility.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsLogsState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsTableColumns.test.tsx
  frontend/src/pages/jobs/jobLogParsing.ts
  frontend/src/pages/jobs/useJobsColumnsVisibility.ts
  frontend/src/pages/jobs/useJobsLogsState.ts
  frontend/src/pages/jobs/useJobsTableColumns.tsx
Due: build_s3desk_image, api_integration

perf(app): streamline startup and queues
  backend/internal/api/api.go
  backend/internal/api/handlers_bootstrap.go
  backend/internal/api/handlers_bootstrap_test.go
  backend/internal/api/public_routes_test.go
  backend/internal/models/models.go
  frontend/src/App.tsx
  frontend/src/FullAppOverlaysHost.tsx
  frontend/src/FullAppRoutes.tsx
  frontend/src/__tests__/FullAppInner.routes.test.tsx
  frontend/src/__tests__/FullAppInner.smoke.test.tsx
  frontend/src/__tests__/FullAppOverlaysHost.test.tsx
  frontend/src/__tests__/useFullAppController.test.tsx
  frontend/src/__tests__/useFullAppProfileState.test.tsx
  frontend/src/api/clientSubFacades.ts
  frontend/src/api/domains/server.ts
  frontend/src/api/lightClient.ts
  frontend/src/api/openapi.ts
  frontend/src/api/types.ts
  frontend/src/app/ProfileGate.tsx
  frontend/src/components/KeyboardShortcutGuide.tsx
  frontend/src/components/__tests__/KeyboardShortcutGuide.test.tsx
  frontend/src/components/useAppContentVirtualizer.ts
  frontend/src/lib/__tests__/thumbnailRequestQueue.test.ts
  frontend/src/lib/__tests__/useKeyboardShortcuts.test.tsx
  frontend/src/lib/thumbnailCache.ts
  frontend/src/lib/thumbnailRequestQueue.ts
  frontend/src/lib/useKeyboardShortcuts.ts
  frontend/src/pages/buckets/__tests__/BucketsList.test.tsx
  frontend/src/test/apiFixturesHelpers.test.ts
  frontend/src/useFullAppController.ts
  frontend/src/useFullAppProfileState.ts
  frontend/src/useFullAppShellState.ts
  frontend/src/useFullAppShellViewModel.ts
  frontend/tests/support/apiFixtures.ts
  openapi.yml
Due: build_s3desk_image, api_integration

feat(objects): refine responsive interactions
  frontend/src/pages/objects/ObjectThumbnail.tsx
  frontend/src/pages/objects/ObjectsBucketPicker.module.css
  frontend/src/pages/objects/ObjectsDetails.module.css
  frontend/src/pages/objects/ObjectsFavorites.module.css
  frontend/src/pages/objects/ObjectsGridCards.module.css
  frontend/src/pages/objects/ObjectsImageViewer.module.css
  frontend/src/pages/objects/ObjectsListContent.tsx
  frontend/src/pages/objects/ObjectsListControls.tsx
  frontend/src/pages/objects/ObjectsListSection.tsx
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/ObjectsObjectRow.tsx
  frontend/src/pages/objects/ObjectsSearch.module.css
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/ObjectsThumbnailPrimitives.module.css
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/src/pages/objects/__tests__/ObjectsBucketPicker.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsListControls.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsToolbar.test.tsx
  frontend/src/pages/objects/__tests__/objectsActionCatalog.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsListKeydown.test.tsx
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/objects/objectsActions.tsx
  frontend/src/pages/objects/objectsPrefixActionCatalog.tsx
  frontend/src/pages/objects/objectsSelectionActionCatalog.tsx
  frontend/src/pages/objects/useObjectsContextMenuMenu.ts
  frontend/src/pages/objects/useObjectsListKeydown.ts
  frontend/src/pages/objects/useObjectsMarqueeSelection.ts
  frontend/src/pages/objects/useObjectsObjectGridRenderer.tsx
  frontend/src/pages/objects/useObjectsScreenList.tsx
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-tablet-chromium-linux.png
  frontend/tests/objects-context-menu-keyboard.spec.ts
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-image-preview.spec.ts
  frontend/tests/objects-image-preview.spec.ts-snapshots/objects-image-viewer-mobile-pan-focus-chromium-linux.png
  frontend/tests/objects-marquee-selection.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/objects-visual-regression.spec.ts
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-mobile-grid-density-chromium-linux.png
Due: build_s3desk_image

perf(jobs): batch maintenance reads
  backend/internal/jobs/manager_maintenance.go
  backend/internal/jobs/manager_retention_test.go
  backend/internal/jobs/manager_state_transitions.go
  backend/internal/store/store_jobs.go
  backend/internal/store/store_upload_sessions.go
Due: build_s3desk_image, api_integration

perf(objects): paginate favorite queries
  backend/internal/api/handlers_favorites_http.go
  backend/internal/models/models.go
  backend/internal/store/object_favorites.go
  backend/internal/store/object_favorites_test.go
  frontend/src/api/__tests__/objects.test.ts
  frontend/src/api/domains/objects.ts
  frontend/src/api/openapi.ts
  openapi.yml
Due: build_s3desk_image, api_integration

perf(objects): avoid redundant index probes
  backend/internal/store/object_index.go
  backend/internal/store/object_index_benchmark_test.go
  backend/internal/store/object_index_test.go
Due: build_s3desk_image, api_integration

docs(backend): record efficiency findings
  docs/BACKEND_EFFICIENCY_ANALYSIS_2026-08-15.ko.md
Due: none

refactor(frontend): remove pass-through wrappers
  frontend/src/components/Transfers.tsx
  frontend/src/components/transfers/TransfersProviderView.tsx
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/buckets/__tests__/useBucketsPageCompositionState.test.tsx
  frontend/src/pages/buckets/buildBucketsPageShellProps.ts
  frontend/src/pages/buckets/useBucketsPageCompositionState.ts
  frontend/src/pages/profiles/__tests__/useProfilesPageCompositionState.test.tsx
  frontend/src/pages/profiles/useProfilesPageCompositionState.ts
  frontend/src/pages/uploads/UploadsPageExperience.tsx
  frontend/src/pages/uploads/__tests__/useUploadsPageCompositionState.test.tsx
  frontend/src/pages/uploads/useUploadsPageCompositionState.ts
Due: build_s3desk_image

fix(frontend): restore heading hierarchy
  frontend/src/components/PageHeader.module.css
  frontend/src/components/PageHeader.tsx
  frontend/src/components/PageSection.tsx
  frontend/src/components/__tests__/PageHeader.test.tsx
  frontend/src/components/__tests__/PageSection.test.tsx
  frontend/src/pages/objects/ObjectsPageHeader.tsx
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/__tests__/ObjectsPageHeader.test.tsx
Due: build_s3desk_image

refactor(objects): inline context menu portal
  frontend/src/pages/objects/ObjectsContextMenuPortalHost.tsx
  frontend/src/pages/objects/ObjectsPagePanes.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
Due: build_s3desk_image

docs(frontend): replace component quality audit
  frontend/docs/COMPONENT_DESIGN_EVALUATION_2026-08-01.ko.md
  frontend/docs/COMPONENT_QUALITY_AND_STRUCTURE_AUDIT_2026-08-15.ko.md
Due: build_s3desk_image

fix(frontend): respect mobile safe areas
  frontend/playwright.config.ts
  frontend/src/FullAppInner.module.css
  frontend/src/index.css
  frontend/tests/mobile-platform-standards.spec.ts
Due: build_s3desk_image

fix(buckets): simplify mobile actions
  frontend/docs/FRONTEND_RESPONSIVE_DESIGN_AUDIT_2026-08-12.md
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/buckets/BucketsDialogs.tsx
  frontend/tests/buckets-mobile-responsive.spec.ts
Due: build_s3desk_image

test(frontend): align browser contracts
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/mobile-smoke.spec.ts
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/objects-marquee-selection.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
Due: build_s3desk_image

docs(frontend): record mobile standards audit
  frontend/docs/WCAG_ACCESSIBILITY_AUDIT_2026-08-13.ko.md
Due: build_s3desk_image

fix(frontend): align transient headings
  frontend/src/pages/ObjectsPageScreen.tsx
  frontend/src/pages/profiles/ProfilesOnboardingCard.tsx
  frontend/src/pages/profiles/__tests__/ProfilesOnboardingCard.test.tsx
  frontend/tests/accessibility-overlays.spec.ts
Due: build_s3desk_image

refactor(frontend): remove pass-through layers
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/transfers/TransfersDrawerHost.tsx
  frontend/src/components/transfers/TransfersRuntimeUiHost.tsx
  frontend/src/pages/buckets/BucketsDialogsHost.tsx
  frontend/src/pages/buckets/BucketsDialogsPanel.tsx
Due: build_s3desk_image

perf(frontend): shrink initial UI bundle
  frontend/scripts/bundle-budgets.json
  frontend/vite.config.ts
Due: build_s3desk_image

docs(frontend): record quality improvements
  frontend/docs/FRONTEND_FINAL_QUALITY_ANALYSIS_2026-08-16.ko.md
Due: build_s3desk_image

perf(jobs): streamline lifecycle storage
  backend/internal/api/handlers_profiles_delete.go
  backend/internal/store/store_jobs.go
  backend/internal/store/store_jobs_test.go
  docs/BACKEND_EFFICIENCY_ANALYSIS_2026-08-15.ko.md
Due: build_s3desk_image, api_integration

feat(backup): add remote storage transfers
  backend/internal/api/api.go
  backend/internal/api/handlers_server_backup_transfer.go
  backend/internal/api/handlers_server_backup_transfer_test.go
  backend/internal/profileendpoint/validation.go
  backend/internal/profileendpoint/validation_test.go
  frontend/src/api/client.ts
  frontend/src/api/clientSubFacades.ts
  frontend/src/api/domains/server.ts
  frontend/src/api/openapi.ts
  frontend/src/api/types.ts
  frontend/src/components/SidebarBackupDrawer.tsx
  frontend/src/components/SidebarBackupRemoteSection.tsx
  openapi.yml
Due: build_s3desk_image, api_integration

feat(backend): harden API assets and portable migration consistency
  backend/internal/api/api.go
  backend/internal/api/middleware_safety.go
  backend/internal/api/middleware_test.go
  backend/internal/api/public_routes_test.go
  backend/internal/db/db.go
  backend/internal/db/db_test.go
  backend/internal/store/store_portable.go
  backend/internal/store/store_portable_test.go
Due: build_s3desk_image, api_integration

feat(frontend): show token login path before bootstrap calls
  frontend/src/FullAppBootstrapGate.tsx
  frontend/src/__tests__/FullAppBootstrapGate.test.tsx
  frontend/src/__tests__/useFullAppProfileState.test.tsx
  frontend/src/app/RequireAuth.tsx
  frontend/src/components/TokenLoginPanel.tsx
  frontend/src/pages/__tests__/LoginPage.test.tsx
  frontend/src/useFullAppProfileState.ts
Due: build_s3desk_image

feat(frontend): improve objects list row and image viewer interactions
  frontend/src/pages/objects/ObjectsGridCards.module.css
  frontend/src/pages/objects/ObjectsImageViewerBody.tsx
  frontend/src/pages/objects/ObjectsImageViewerModal.tsx
  frontend/src/pages/objects/ObjectsListContent.tsx
  frontend/src/pages/objects/ObjectsListHeader.tsx
  frontend/src/pages/objects/ObjectsListRow.tsx
  frontend/src/pages/objects/ObjectsListRowPrimitives.tsx
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/ObjectsObjectRow.tsx
  frontend/src/pages/objects/ObjectsPrefixRow.tsx
  frontend/src/pages/objects/ObjectsSelectionBarContent.tsx
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/__tests__/ObjectsImageViewerModal.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsListContent.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsListRow.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  frontend/src/pages/objects/__tests__/objectsListUtils.test.ts
  frontend/src/pages/objects/__tests__/useObjectsPresign.test.tsx
  frontend/src/pages/objects/buildObjectsListPaneProps.ts
  frontend/src/pages/objects/buildObjectsPagePanesPropsTypes.ts
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/objects/objectsListUtils.ts
  frontend/src/pages/objects/useObjectsGridRenderers.tsx
  frontend/src/pages/objects/useObjectsImageViewerPanZoom.ts
  frontend/src/pages/objects/useObjectsPresign.ts
  frontend/src/pages/objects/useObjectsRowRenderers.tsx
  frontend/src/pages/objects/useObjectsScreenList.tsx
  frontend/src/pages/objects/useObjectsScreenListRendering.tsx
  frontend/src/pages/objects/useObjectsScreenPanes.tsx
Due: build_s3desk_image

feat(frontend): improve mobile history and profile/grid density
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/ProfilesPage.module.css
  frontend/src/pages/buckets/BucketsList.tsx
  frontend/src/pages/jobs/JobsMobileList.tsx
  frontend/src/pages/jobs/JobsTableSection.module.css
  frontend/src/pages/jobs/JobsTableSection.tsx
  frontend/src/pages/jobs/__tests__/JobsTableSection.test.tsx
  frontend/src/pages/profiles/ProfilesTable.tsx
Due: build_s3desk_image

chore(db): remove obsolete migration indexes
  backend/internal/db/db.go
  backend/internal/db/db_test.go
Due: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml
