Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

docs: add twenty-second frontend friction audit
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND22_2026-05-22.md
Due: none

ux: remove redundant mobile search hint
  frontend/src/pages/objects/ObjectsListControls.tsx
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/__tests__/ObjectsListControls.test.tsx
  frontend/tests/objects-layout-density.spec.ts
Due: build_s3desk_image

docs: add twenty-third frontend friction audit
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND23_2026-05-22.md
Due: none

ux: compact selected mobile bucket trigger
  frontend/src/lib/__tests__/actionHints.test.ts
  frontend/src/lib/actionHints.ts
  frontend/src/pages/objects/ObjectsBucketPicker.tsx
  frontend/src/pages/objects/__tests__/ObjectsBucketPicker.test.tsx
Due: build_s3desk_image

docs: add twenty-fourth frontend friction audit
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND24_2026-05-22.md
Due: none

ux: remove global search intro alert
  frontend/src/pages/objects/ObjectsGlobalSearchDrawer.tsx
  frontend/src/pages/objects/ObjectsSearch.module.css
  frontend/src/pages/objects/__tests__/ObjectsGlobalSearchDrawer.test.tsx
  frontend/tests/dark-theme-visual-regression.spec.ts-snapshots/objects-dark-global-search-drawer-chromium-linux.png
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-global-search-drawer-actions-chromium-linux.png
Due: build_s3desk_image

docs: add twenty-fifth frontend friction audit
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND25_2026-05-22.md
Due: none

chore(docs): remove obsolete analysis and audit artifacts
  docs/CODEBASE_DEEP_ANALYSIS_2026-04-10.md
  docs/CODEBASE_QUALITY_PR_TEMPLATE.md
  docs/E2E_SUITE_AUDIT_2026-04-08.md
  docs/FRONTEND_CODEBASE_ANALYSIS_2026-04-28.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND10_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND11_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND12_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND13_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND14_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND15_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND16_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND17_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND18_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND19_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND20_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND21_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND22_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND23_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND24_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND25_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND3_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND4_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND5_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND6_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND7_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND8_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND9_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_REAUDIT_2026-05-22.md
  docs/grafana/s3desk-jobs-retry-failure.dashboard.json
Due: none

refactor: dedupe frontend css
  frontend/src/FullAppInner.module.css
  frontend/src/LightApp.module.css
  frontend/src/components/BrandLockup.module.css
  frontend/src/components/MenuPopover.module.css
  frontend/src/components/PageHeader.module.css
  frontend/src/components/PageSection.module.css
  frontend/src/components/SidebarBackupAction.module.css
  frontend/src/components/TokenLoginPanel.module.css
  frontend/src/components/appTabs.module.css
  frontend/src/components/simpleTree.module.css
  frontend/src/components/transfers/transferRows.module.css
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/LoginPage.module.css
  frontend/src/pages/ProfilesPage.module.css
  frontend/src/pages/SettingsPage.module.css
  frontend/src/pages/UploadsPage.module.css
  frontend/src/pages/buckets/BucketGovernanceModal.module.css
  frontend/src/pages/buckets/BucketModal.module.css
  frontend/src/pages/buckets/BucketPolicyModal.module.css
  frontend/src/pages/jobs/JobsLogsDrawer.module.css
  frontend/src/pages/jobs/JobsShared.module.css
  frontend/src/pages/jobs/JobsTableSection.module.css
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/objects/ObjectsBucketPicker.module.css
  frontend/src/pages/objects/ObjectsDetails.module.css
  frontend/src/pages/objects/ObjectsDialogs.module.css
  frontend/src/pages/objects/ObjectsFavorites.module.css
  frontend/src/pages/objects/ObjectsGridCards.module.css
  frontend/src/pages/objects/ObjectsImageViewer.module.css
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/ObjectsSearch.module.css
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/profiles/ProfileModal.module.css
Due: build_s3desk_image

refactor(profiles): simplify create modal
  frontend/src/lib/ConfirmDangerDialog.module.css
  frontend/src/lib/ConfirmDangerDialog.tsx
  frontend/src/pages/profiles/ProfileModal.module.css
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/ProfileModalSections.tsx
  frontend/src/pages/profiles/__tests__/ProfileModal.test.tsx
  frontend/src/pages/profiles/profileModalAdvancedSection.tsx
  frontend/src/pages/profiles/profileModalBasicConnectionSection.tsx
  frontend/src/pages/profiles/profileModalChecklist.ts
  frontend/src/pages/profiles/profileModalCredentialsSection.tsx
  frontend/src/pages/profiles/profileModalSectionShared.tsx
  frontend/src/pages/profiles/profileModalSecuritySection.tsx
  frontend/src/pages/profiles/profileModalValidation.ts
Due: build_s3desk_image

refactor(profiles): tighten onboarding copy
  frontend/src/pages/profiles/ProfilesOnboardingCard.tsx
  frontend/src/pages/profiles/__tests__/ProfilesOnboardingCard.test.tsx
Due: build_s3desk_image

refactor(profiles): tighten create modal layout
  frontend/src/pages/profiles/ProfileModal.module.css
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/ProfileModalSections.tsx
  frontend/src/pages/profiles/__tests__/ProfileModal.test.tsx
  frontend/src/pages/profiles/profileModalCredentialsSection.tsx
Due: build_s3desk_image

refactor(app): remove setup-only shell
  frontend/src/App.tsx
  frontend/src/LightApp.module.css
  frontend/src/LightApp.tsx
  frontend/src/__tests__/App.routing.test.tsx
  frontend/src/__tests__/LightApp.auth.test.tsx
  frontend/src/components/ProfileRequiredCallout.tsx
  frontend/src/components/WelcomeScreen.tsx
  frontend/src/components/__tests__/SetupCallout.test.tsx
  frontend/src/components/__tests__/WelcomeScreen.test.tsx
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/__tests__/JobsPage.smoke.test.tsx
  frontend/src/pages/__tests__/UploadsPage.test.tsx
  frontend/src/pages/buckets/BucketsPageRouteShell.tsx
  frontend/src/pages/buckets/__tests__/BucketsPageRouteShell.test.tsx
  frontend/src/pages/jobs/JobsPageRouteShell.tsx
  frontend/src/pages/jobs/__tests__/JobsPageRouteShell.test.tsx
  frontend/src/pages/uploads/UploadsPageShell.tsx
  frontend/src/pages/uploads/UploadsSelectionSection.tsx
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

refactor(buckets): clarify policy edit paths
  frontend/src/pages/buckets/BucketPolicyContentTabs.tsx
  frontend/src/pages/buckets/BucketPolicyFooterActions.tsx
  frontend/src/pages/buckets/BucketPolicyWorkspaceHeader.tsx
Due: build_s3desk_image

refactor(objects): tighten workspace controls
  frontend/src/pages/objects/ObjectsBucketPickerEntryList.tsx
  frontend/src/pages/objects/ObjectsGlobalSearchResults.tsx
  frontend/src/pages/objects/ObjectsMenuPopover.tsx
  frontend/src/pages/objects/ObjectsOverlaySheet.tsx
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/src/pages/objects/ObjectsToolbarSection.tsx
Due: build_s3desk_image

refactor(settings): clarify access setup
  frontend/src/pages/settings/AccessSettingsSection.tsx
  frontend/src/useFullAppShellState.ts
Due: build_s3desk_image

build(dev): add quick podman preview flow
  .containerignore
  Containerfile.deploy
  scripts/podman.sh
Due: none

refactor(profiles): simplify create modal summaries
  frontend/src/pages/profiles/ProfileModal.module.css
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/profileModalSectionShared.tsx
Due: build_s3desk_image

docs(frontend): add july ux findings reports
  docs/README.md
  frontend/docs/UI_UX_CURRENT_FINDINGS_2026-07-31.md
  frontend/docs/UI_UX_OPTIMIZATION_REPORT_2026-07-31.md
Due: build_s3desk_image

refactor(dialog): allow section-level modal styling
  frontend/src/components/DialogModal.tsx
Due: build_s3desk_image

style(theme): smooth page background transitions
  frontend/src/index.css
Due: build_s3desk_image

docs: prune stale quality audit notes
  docs/CODEBASE_QUALITY_FIX_CHECKLIST.md
  docs/CODEBASE_QUALITY_REPORT.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_2026-05-22.md
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_ROUND2_2026-05-22.md
  notes/API_CLIENT_TOP_LEVEL_WRAPPER_MIGRATION_SCOPE_2026-03-19.md
  notes/BACKEND_JOBS_MANAGER_PHASE1_PATCH_PLAN_2026-03-19.md
  notes/BUCKET_MODAL_SPLIT_NOTE_2026-03-20.md
  notes/CODEBASE_IMPROVEMENT_GITHUB_ISSUES_2026-03-19.md
  notes/CODEBASE_QUALITY_GITHUB_ISSUES_2026-03-19.md
  notes/FOLLOWUP_ISSUE_DRAFTS_2026-03-20.md
  notes/FRONTEND_API_CLIENT_STEP1_FILE_PLAN_2026-03-19.md
  notes/JOBS_PAGE_CHECKLIST.md
  notes/NEXT_ACTION_CHECKLIST_2026-03-20.md
  notes/OBJECTS_CSS_FINAL_REMAINING_SCOPE_2026-03-19.md
  notes/OBJECTS_CSS_PHASE1_COMMIT_PLAN_2026-03-19.md
  notes/OBJECTS_CSS_PHASE2_PATCH_PLAN_2026-03-19.md
  notes/OBJECTS_CSS_SPLIT_FINAL_SUMMARY_2026-03-19.md
  notes/PR_BODY_REFACTOR_QUALITY_2026-03-20.md
  notes/TECH_DEBT_CHECKLIST.md
Due: none

chore(scripts): drop unused local helper scripts
  scripts/cron/s3desk-lighthouse.cron
  scripts/demo/seed_s3desk_test.py
  scripts/ingress_tune_sweep.sh
  scripts/install_rclone.sh
  scripts/lighthouse_auth.py
  scripts/lighthouse_ci.sh
  scripts/perf_objects_list.sh
  scripts/perf_profile.sh
  scripts/systemd/lighthouse.env.example
  scripts/systemd/s3desk-lighthouse.service
  scripts/systemd/s3desk-lighthouse.timer
Due: none

ci: inline release helper scripts
  .gitlab-ci.yml
  scripts/render_policy_live_summary.js
  scripts/update_chart_version.sh
Due: none

chore(git): ignore local deploy preview data
  .gitignore
  README.md
Due: none

style(header): remove page header accent bar
  frontend/src/components/PageHeader.module.css
Due: build_s3desk_image

fix(theme): sync sidebar color mode
  frontend/src/FullAppShellChrome.tsx
  frontend/src/__tests__/FullAppInner.smoke.test.tsx
  frontend/src/index.css
Due: build_s3desk_image

style(ui): reduce empty-state chrome
  frontend/src/pages/jobs/JobsEmptyState.tsx
  frontend/src/pages/jobs/JobsTableSection.tsx
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/__tests__/JobsTableSection.test.tsx
  frontend/src/pages/jobs/__tests__/JobsToolbar.test.tsx
  frontend/src/pages/objects/ObjectsPagePanes.tsx
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/src/pages/objects/ObjectsToolbarSection.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsToolbar.test.tsx
  frontend/tests/jobs-mobile-responsive.spec.ts
Due: build_s3desk_image

fix(settings): simplify preference controls
  frontend/src/FullAppOverlaysHost.tsx
  frontend/src/__tests__/FullAppOverlaysHost.test.tsx
  frontend/src/__tests__/useFullAppController.test.tsx
  frontend/src/components/OverlaySheet.module.css
  frontend/src/components/SettingsDrawer.tsx
  frontend/src/components/appTabs.module.css
  frontend/src/pages/SettingsPage.module.css
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/settings/AccessSettingsSection.tsx
  frontend/src/pages/settings/NetworkSettingsSection.tsx
  frontend/src/pages/settings/ObjectsSettingsSection.tsx
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/TransfersSettingsSection.tsx
  frontend/src/useFullAppController.ts
  frontend/src/useFullAppShellViewModel.ts
Due: build_s3desk_image

fix(mobile): tighten responsive layouts
  frontend/src/components/DialogModal.module.css
  frontend/src/components/PageHeader.module.css
  frontend/src/index.css
  frontend/src/pages/UploadsPage.module.css
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/profiles/ProfileModal.module.css
  frontend/tests/dark-theme-visual-regression.spec.ts
  frontend/tests/design-audit-visual.spec.ts
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-bucket-picker-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-light-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-transfers-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-uploads-mobile-chromium-linux.png
  frontend/tests/mobile-smoke.spec.ts
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-mobile-grid-density-chromium-linux.png
  frontend/tests/settings-mobile-responsive.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-azure-governance-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-azure-immutability-warning-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-create-dialog-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-gcs-governance-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-gcs-locked-retention-warning-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-oci-governance-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-policy-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-mobile-filters-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/profiles-mobile-edit-dialog-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/profiles-mobile-yaml-import-dialog-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/settings-mobile-drawer-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-mobile-downloads-state-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-mobile-uploads-state-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/uploads-mobile-source-selection-dialog-chromium-linux.png
Due: build_s3desk_image

fix(security): require quick-run credentials
  backend/internal/app/app.go
  backend/internal/app/app_test.go
  scripts/podman.sh
Due: build_s3desk_image, api_integration

fix(security): scope auth and dev access
  backend/internal/api/middleware_api_token.go
  backend/internal/api/middleware_api_token_test.go
  frontend/src/auth/AuthProvider.tsx
  frontend/src/auth/__tests__/AuthProvider.test.tsx
  frontend/src/lib/__tests__/thumbnailCache.test.ts
  frontend/src/lib/storageResetRegistry.ts
  frontend/src/lib/thumbnailCache.ts
  scripts/dev.sh
Due: build_s3desk_image, api_integration

ci(security): harden build and test lanes
  .gitlab-ci.yml
  Containerfile
  e2e/runner/Dockerfile
  frontend/vercel.json
  lighthouserc.js
  scripts/check_go_toolchain.py
  scripts/lighthouse_puppeteer_auth.js
  scripts/render_policy_live_summary.js
  scripts/report_release_scope.py
  scripts/report_release_scope_test.py
Due: build_s3desk_image

fix(k8s): scope helm smoke permissions
  k8s/gitlab-runner-namespace-admin.yaml
  scripts/helm_k8s_smoke.sh
Due: none

docs(security): record remediation evidence
  docs/RELEASE_GATE.md
  docs/SECURITY_REMEDIATION_FOLLOWUP.md
  docs/TESTING.md
  notes/PROJECT_QUALITY_ANALYSIS_2026-05-18.md
  scripts/check_release_gate.sh
Due: none

fix(security): keep ci encryption fixture
  charts/s3desk/ci-values.yaml
Due: none

perf(objects): trim initial route work
  frontend/src/pages/ObjectsPageScreen.tsx
  frontend/src/pages/objects/ObjectsListPaneHost.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  frontend/src/pages/objects/objectsPaneIdle.ts
  frontend/tests/jobs-perf.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
Due: build_s3desk_image

perf(upload): remove staging reuploads
  backend/cmd/server/main.go
  backend/internal/api/handlers_meta_http_test.go
  backend/internal/api/handlers_uploads_commit_execution.go
  backend/internal/api/handlers_uploads_commit_test.go
  backend/internal/api/handlers_uploads_commit_verify_service.go
  backend/internal/api/handlers_uploads_direct.go
  backend/internal/api/handlers_uploads_direct_http.go
  backend/internal/api/handlers_uploads_direct_http_test.go
  backend/internal/api/handlers_uploads_parts.go
  charts/s3desk/values.yaml
  frontend/src/api/__tests__/uploads.domain.test.ts
  frontend/src/api/clientSubFacades.ts
  frontend/src/api/domains/uploads.ts
  frontend/src/components/transfers/__tests__/presignedUpload.test.ts
  frontend/src/components/transfers/__tests__/uploadRuntimeAttempt.test.ts
  frontend/src/components/transfers/__tests__/uploadRuntimeFallback.test.ts
  frontend/src/components/transfers/__tests__/uploadRuntimePlanning.test.ts
  frontend/src/components/transfers/__tests__/uploadRuntimeTask.test.ts
  frontend/src/components/transfers/presignedUpload.ts
  frontend/src/components/transfers/transfersTypes.ts
  frontend/src/components/transfers/uploadRuntimeAttempt.ts
  frontend/src/components/transfers/uploadRuntimeFallback.ts
  frontend/src/components/transfers/uploadRuntimePlanning.ts
  frontend/src/components/transfers/uploadRuntimeTask.ts
  frontend/src/lib/__tests__/profileCapabilityContext.test.ts
  frontend/src/lib/profileCapabilityContext.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image, api_integration
