Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

build_s3desk_image:
  stage: build
  image: quay.io/podman/stable:latest
  variables:
    STORAGE_DRIVER: vfs
    CONTAINERS_STORAGE_DRIVER: vfs
    BUILDAH_ISOLATION: chroot
    HARBOR_REGISTRY: harbor.k8s.homelabird.com
    S3DESK_IMAGE: ${HARBOR_REGISTRY}/library/s3desk:${CI_COMMIT_SHA}
  before_script:
  ...

api_integration:
  stage: test
  image: quay.io/podman/stable:latest
  variables:
    STORAGE_DRIVER: vfs
    CONTAINERS_STORAGE_DRIVER: vfs
    BUILDAH_ISOLATION: chroot
    PODMAN_NETWORK_BACKEND: slirp4netns
    CONTAINERS_NETWORK_BACKEND: slirp4netns
    HARBOR_REGISTRY: harbor.k8s.homelabird.com
  ...

test(db): verify obsolete indexes are removed by migration
  backend/internal/db/db_test.go
Due: build_s3desk_image, api_integration

chore(deploy): enforce demo host inputs and portable smoke entities
  .env
  .env.example
  .gitlab-ci.yml
  README.md
  compose/demo/compose.yml
  docs/TESTING.md
  scripts/check_release_gate.sh
  scripts/compose.sh
  scripts/portable/run-smoke.py
  scripts/portable/seed-source.py
Due: none

test(frontend): lock mobile-responsive and reflow behavior
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-buckets-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-bucket-picker-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-dark-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-light-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-tablet-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-profiles-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-profiles-mobile-dark-chromium-linux.png
  frontend/tests/jobs-mobile-responsive.spec.ts
  frontend/tests/login-mobile-responsive.spec.ts
  frontend/tests/objects-image-preview.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/support/objectsMobileResponsive.ts
  frontend/tests/wcag-reflow.spec.ts
Due: build_s3desk_image

refactor(jobs): simplify job overlay stack
  frontend/src/pages/jobs/CreateJobModal.tsx
  frontend/src/pages/jobs/DownloadJobModal.tsx
  frontend/src/pages/jobs/JobsCreateModals.tsx
  frontend/src/pages/jobs/JobsEmptyState.tsx
  frontend/src/pages/jobs/JobsOverlaysHost.tsx
  frontend/src/pages/jobs/JobsTableSection.tsx
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/__tests__/DownloadJobModal.test.tsx
  frontend/src/pages/jobs/__tests__/JobsCreateModalsFeedback.test.tsx
  frontend/src/pages/jobs/__tests__/JobsCreateModalsState.test.tsx
  frontend/src/pages/jobs/__tests__/JobsTableSection.test.tsx
  frontend/src/pages/jobs/__tests__/JobsToolbar.test.tsx
  frontend/src/pages/jobs/__tests__/buildJobsPagePresentationProps.test.ts
  frontend/src/pages/jobs/__tests__/useJobsPageController.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageControllerState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageCreateFlows.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageOverlaysState.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageSurfaceState.test.tsx
  frontend/src/pages/jobs/buildJobsPagePresentationProps.ts
  frontend/src/pages/jobs/useJobsPageControllerState.tsx
  frontend/src/pages/jobs/useJobsPageCreateFlows.ts
  frontend/src/pages/jobs/useJobsPageOverlaysState.ts
  frontend/src/pages/jobs/useJobsPageSurfaceState.ts
  frontend/tests/jobs-mobile-responsive.spec.ts
Due: build_s3desk_image

ci: run portable smoke via ansible
  .gitlab-ci.yml
  README.md
  ansible/portable-migration-smoke.yml
  docs/TESTING.md
  scripts/check_release_gate.sh
  scripts/report_release_scope.py
  scripts/report_release_scope_test.py
Due: none

test: use batch data in portable roundtrip
  backend/internal/store/store_portable_test.go
Due: build_s3desk_image, api_integration

docs: add demo gif and storage provider beta notes
  README.md
  frontend/docs/assets/gifs/20260816-231756/objects-live-flow-demo.gif
  frontend/docs/assets/gifs/latest.gif
Due: build_s3desk_image

docs: fix demo gif link on github
  README.md
Due: none

docs: note slow-motion demo gif in readme
  README.md
Due: none

fix(backend): harden runtime operations
  backend/internal/api/handlers_jobs_submission.go
  backend/internal/api/handlers_jobs_submission_test.go
  backend/internal/api/handlers_server_backup_transfer.go
  backend/internal/api/handlers_uploads_commit_finalize_service.go
  backend/internal/api/handlers_uploads_commit_queue.go
  backend/internal/jobs/manager_maintenance.go
  backend/internal/jobs/manager_rclone_engine.go
  backend/internal/jobs/manager_retention_test.go
  backend/internal/jobs/rclone_attempt.go
  backend/internal/jobs/s3_delete_objects.go
  backend/internal/jobs/s3_zip.go
  backend/internal/metrics/metrics.go
  backend/internal/metrics/metrics_test.go
Due: build_s3desk_image, api_integration

build(go): update security baseline
  .github/workflows/frontend-e2e.yml
  .github/workflows/license-audit.yml
  .github/workflows/release-gate.yml
  .gitlab-ci.yml
  Containerfile
  Containerfile.deploy
  Containerfile.local
  THIRD_PARTY_NOTICES.md
  backend/go.mod
  backend/go.sum
  docs/RELEASE_GATE.md
  docs/SECURITY_REMEDIATION_FOLLOWUP.md
  docs/TESTING.md
  scripts/check_go_toolchain.py
  scripts/check_release_gate.sh
  scripts/license-audit.sh
  third_party/licenses/go/golang.org_x_image@v0.45.0-LICENSE
  third_party/licenses/go/golang.org_x_mod@v0.38.0-LICENSE
  third_party/licenses/go/golang.org_x_sync@v0.22.0-LICENSE
  third_party/licenses/go/golang.org_x_sys@v0.47.0-LICENSE
  third_party/licenses/go/golang.org_x_text@v0.41.0-LICENSE
  third_party/licenses/go/golang.org_x_tools@v0.48.0-LICENSE
  third_party/licenses/npm/tanstack_react-table@8.21.3-LICENSE
  third_party/licenses/npm/tanstack_table-core@8.21.3-LICENSE
Due: build_s3desk_image, api_integration

feat(helm): add operational alerts
  charts/s3desk/README.md
  charts/s3desk/templates/prometheusrule.yaml
  charts/s3desk/values.schema.json
  charts/s3desk/values.yaml
  docs/OPERATIONS_SETTINGS_LOGGING_MONITORING_AUDIT_2026-08-13.ko.md
  docs/RUNBOOK.md
  scripts/check_helm_chart.sh
Due: none

fix(frontend): tighten mobile info hierarchy
  frontend/src/components/AppTabs.tsx
  frontend/src/components/__tests__/AppTabs.test.tsx
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/__tests__/JobsToolbar.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsPage.smoke.test.tsx
  frontend/src/pages/uploads/UploadsPageShell.tsx
  frontend/src/pages/uploads/UploadsSelectionSection.tsx
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-uploads-mobile-chromium-linux.png
  frontend/tests/jobs-mobile-responsive.spec.ts
  frontend/tests/settings-mobile-responsive.spec.ts
Due: build_s3desk_image

fix(frontend): simplify bucket policy states
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/buckets/BucketPolicyWorkspaceHeader.tsx
  frontend/src/pages/buckets/BucketsPageShell.tsx
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-policy-sheet-chromium-linux.png
Due: build_s3desk_image

fix(jobs): stabilize loading state
  frontend/src/pages/jobs/__tests__/useJobsLogsState.test.tsx
  frontend/src/pages/jobs/useJobsLogsState.ts
Due: build_s3desk_image

test(e2e): align browser flow specs
  frontend/tests/jobs-flow.spec.ts
  frontend/tests/jobs-network.spec.ts
  frontend/tests/mobile-smoke.spec.ts
  frontend/tests/objects-bucket-picker.spec.ts
  frontend/tests/objects-favorites-tree-details.spec.ts
  frontend/tests/objects-marquee-selection.spec.ts
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/profiles-provider-forms.spec.ts
  frontend/tests/support/apiFixtures.ts
  frontend/tests/support/mockApi.ts
  frontend/tests/support/ui.ts
  frontend/tests/webview-environment-posture.spec.ts
Due: build_s3desk_image

chore(deps): update security libs
  THIRD_PARTY_NOTICES.md
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
  openapi.yml
  third_party/licenses/go/github.com_dlclark_regexp2@v1.11.0-LICENSE
  third_party/licenses/go/github.com_getkin_kin-openapi@v0.144.0-LICENSE
  third_party/licenses/go/github.com_go-chi_chi_v5@v5.2.4-LICENSE
  third_party/licenses/go/github.com_go-openapi_jsonpointer@v0.22.5-LICENSE
  third_party/licenses/go/github.com_go-openapi_swag_jsonname@v0.25.5-LICENSE
  third_party/licenses/go/github.com_go-openapi_testify_v2@v2.4.0-LICENSE
  third_party/licenses/go/github.com_josharian_intern@v1.0.0-license.md
  third_party/licenses/go/github.com_mailru_easyjson@v0.7.7-LICENSE
  third_party/licenses/go/github.com_mohae_deepcopy@v0.0.0-20170929034955-c48cc78d4826-LICENSE
  third_party/licenses/go/github.com_oasdiff_yaml3@v0.0.14-LICENSE
  third_party/licenses/go/github.com_oasdiff_yaml@v0.1.1-LICENSE
  third_party/licenses/go/github.com_perimeterx_marshmallow@v1.1.5-LICENSE
  third_party/licenses/go/github.com_rogpeppe_go-internal@v1.10.0-LICENSE
  third_party/licenses/go/github.com_santhosh-tekuri_jsonschema_v6@v6.0.2-LICENSE
  third_party/licenses/go/github.com_ugorji_go_codec@v1.2.7-LICENSE
  third_party/licenses/go/github.com_woodsbury_decimal128@v1.3.0-LICENCE
Due: build_s3desk_image, api_integration

chore(release): prep 0.21v-rc4 scope
  CHANGELOG.md
  docs/release/evidence/LIVE_EVIDENCE_CHECKLIST_2026-08-21.md
  docs/release/evidence/README.md
  docs/release/evidence/backup-portable-smoke-0.21v-rc4.md
  scripts/report_release_scope.py
  scripts/report_release_scope_test.py
Due: none

ci: shorten validation pipelines
  .github/workflows/frontend-e2e.yml
  .github/workflows/license-audit.yml
  .github/workflows/release-gate.yml
  .gitlab-ci.yml
  docs/RELEASE_GATE.md
  docs/TESTING.md
  frontend/docs/MOBILE_RESPONSIVE_E2E.md
  scripts/check.sh
  scripts/check_github_workflows.py
  scripts/check_github_workflows_test.py
  scripts/check_gitlab_publish_dag_test.py
  scripts/check_release_gate.sh
Due: build_s3desk_image

test(e2e): stabilize preview menu click
  frontend/tests/objects-mobile-responsive.spec.ts
Due: build_s3desk_image

test(api): stabilize cancellation check
  backend/internal/api/rclone_endpoint_guard_test.go
Due: build_s3desk_image, api_integration

fix(rclone): drain pipes before wait
  backend/internal/api/rclone_helpers.go
  backend/internal/jobs/rclone_exec.go
Due: build_s3desk_image, api_integration

ci: cap frontend test workers
  scripts/check.sh
Due: none

fix(backend): harden jobs cleanup and transfer metrics
  backend/internal/api/handlers_profiles_delete.go
  backend/internal/api/handlers_uploads_cleanup.go
  backend/internal/bucketops/service.go
  backend/internal/jobs/job_context.go
  backend/internal/jobs/manager_connectivity.go
  backend/internal/jobs/manager_consistency_test.go
  backend/internal/jobs/manager_maintenance.go
  backend/internal/jobs/manager_rclone_engine.go
  backend/internal/jobs/manager_retention_test.go
  backend/internal/jobs/manager_runtime.go
  backend/internal/jobs/manager_transfer_execution.go
  backend/internal/jobs/manager_transfer_totals.go
  backend/internal/jobs/s3_delete_objects.go
  backend/internal/jobs/s3_index_objects.go
  backend/internal/jobs/s3_zip.go
  backend/internal/metrics/metrics.go
  backend/internal/metrics/metrics_test.go
Due: build_s3desk_image, api_integration

feat(frontend): improve bucket UX and workflow coverage
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/bundle-budgets.json
  frontend/src/FullAppShellChrome.tsx
  frontend/src/__tests__/FullAppInner.routes.test.tsx
  frontend/src/__tests__/FullAppInner.smoke.test.tsx
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/buckets/BucketsList.tsx
  frontend/src/pages/buckets/__tests__/BucketsList.test.tsx
  frontend/src/pages/buckets/__tests__/useBucketsPageDeleteFlow.test.tsx
  frontend/src/pages/buckets/useBucketsPageDeleteFlow.ts
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/tests/design-audit-visual.spec.ts
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/jobs-live-flow.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/uploads-folder-live.spec.ts
  frontend/tests/wcag-reflow.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-desktop-workspace-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-mobile-workspace-dark-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/settings-mobile-drawer-chromium-linux.png
Due: build_s3desk_image

chore(docs): update readiness and maintenance notes
  AGENTS.md
  CHANGELOG.md
  docs/BACKEND_EFFICIENCY_ANALYSIS_2026-08-15.ko.md
  docs/RELEASE_GATE.md
  docs/TESTING.md
  scripts/check_release_gate.sh
  scripts/check_release_readiness.py
  scripts/check_release_readiness_test.py
  scripts/run_live_e2e_local.sh
Due: none

chore(metadata): add agents instructions snapshot
  .agents/skills/s3desk-backend/SKILL.md
  .agents/skills/s3desk-backend/agents/openai.yaml
  .agents/skills/s3desk-frontend/SKILL.md
  .agents/skills/s3desk-frontend/agents/openai.yaml
  .agents/skills/s3desk-live-evidence/SKILL.md
  .agents/skills/s3desk-live-evidence/agents/openai.yaml
  .agents/skills/s3desk-release/SKILL.md
  .agents/skills/s3desk-release/agents/openai.yaml
Due: none

fix(store): make cleanup updates atomic
  backend/internal/api/handlers_profiles_delete.go
  backend/internal/api/handlers_uploads_commit_cleanup.go
  backend/internal/api/handlers_uploads_session_http.go
  backend/internal/jobs/manager_maintenance.go
  backend/internal/jobs/manager_transfer_execution.go
  backend/internal/store/store_jobs.go
  backend/internal/store/store_jobs_test.go
  backend/internal/store/store_profiles.go
  backend/internal/store/store_profiles_test.go
  backend/internal/store/store_transactions_postgres_test.go
  backend/internal/store/store_upload_sessions.go
  backend/internal/store/upload_objects.go
  backend/internal/store/upload_objects_test.go
Due: build_s3desk_image, api_integration

fix(frontend): harden overlay scope state
  frontend/src/components/OverlaySheet.module.css
  frontend/src/components/__tests__/useOverlayLayer.test.tsx
  frontend/src/components/useOverlayLayer.ts
  frontend/src/pages/buckets/BucketPolicyModal.module.css
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/buckets/governance/mutationScope.test.tsx
  frontend/src/pages/buckets/governance/mutationScope.ts
  frontend/src/pages/buckets/useBucketPolicyMutations.ts
  frontend/src/pages/jobs/__tests__/useJobsActionMutations.test.tsx
  frontend/src/pages/jobs/useJobsActionMutations.ts
  frontend/src/pages/profiles/__tests__/useProfilesPageScopeState.test.tsx
  frontend/src/pages/profiles/useProfilesPageScopeState.ts
Due: build_s3desk_image

fix(jobs): improve compact toolbar reflow
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/__tests__/JobsToolbar.test.tsx
Due: build_s3desk_image

refactor(frontend): remove unused styles
  frontend/src/App.module.css
  frontend/src/index.css
  frontend/src/pages/jobs/JobsShared.module.css
Due: build_s3desk_image

ci: require mobile and visual browser gates
  .github/workflows/frontend-e2e.yml
  .github/workflows/release-gate.yml
  docs/README.md
  docs/RELEASE_GATE.md
  docs/TESTING.md
  scripts/check_github_workflows_test.py
Due: none

docs(frontend): record final browser evidence
  frontend/docs/DESIGN_AUDIT_IMPLEMENTATION_STATUS.md
  frontend/docs/DESIGN_AUDIT_VALIDATION_LOG.md
  frontend/docs/DESIGN_TOKEN_USAGE.md
  frontend/docs/FRONTEND_FINAL_QUALITY_ANALYSIS_2026-08-16.ko.md
  frontend/docs/WCAG_ACCESSIBILITY_AUDIT_2026-08-13.ko.md
Due: build_s3desk_image

fix(backend): tighten provider storage paths
  backend/internal/bucketgov/aws_public_exposure.go
  backend/internal/bucketgov/aws_public_exposure_test.go
  backend/internal/bucketgov/azure_adapter.go
  backend/internal/bucketgov/gcs_adapter.go
  backend/internal/bucketgov/oci_adapter.go
  backend/internal/bucketgov/provider_adapters_test.go
Due: build_s3desk_image, api_integration

perf(api): cancel redundant client work
  frontend/src/api/__tests__/buckets.test.ts
  frontend/src/api/__tests__/client.retry.test.ts
  frontend/src/api/__tests__/jobs.test.ts
  frontend/src/api/__tests__/objects.test.ts
  frontend/src/api/clientSubFacades.ts
  frontend/src/api/domains/buckets.ts
  frontend/src/api/domains/jobs.ts
  frontend/src/api/domains/objects.ts
  frontend/src/api/openapi.ts
  frontend/src/api/retryTransport.ts
  openapi.yml
Due: build_s3desk_image, api_integration

perf(backend): streamline job runtime
  backend/internal/jobs/delete_prefix_marker_test.go
  backend/internal/jobs/manager_consistency_test.go
  backend/internal/jobs/manager_finalize_test.go
  backend/internal/jobs/manager_runtime.go
  backend/internal/jobs/manager_state_transitions.go
  backend/internal/jobs/manager_transfer_execution.go
  backend/internal/jobs/manager_transfer_totals.go
  backend/internal/jobs/rclone_attempt.go
  backend/internal/jobs/rclone_progress.go
  backend/internal/jobs/rclone_progress_test.go
  backend/internal/store/object_index.go
  backend/internal/store/object_index_test.go
  backend/internal/store/profile_tls.go
  backend/internal/store/store_jobs.go
  backend/internal/store/store_jobs_test.go
  backend/internal/store/store_profiles.go
  backend/internal/store/store_profiles_test.go
Due: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml
