Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

fix(transfers): isolate download retry attempts
  frontend/src/components/transfers/__tests__/useTransfersDownloadQueue.test.tsx
  frontend/src/components/transfers/useTransfersDownloadQueue.ts
  frontend/tests/transfers-job-artifact.spec.ts
Due: build_s3desk_image

fix(buckets): preserve drafts and mutation state
  frontend/src/pages/buckets/BucketGovernanceModal.tsx
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/buckets/BucketPolicyModalShell.tsx
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/buckets/__tests__/BucketPolicyModal.test.tsx
  frontend/src/pages/buckets/governance/aws-controls.tsx
  frontend/src/pages/buckets/governance/azure-controls.tsx
  frontend/src/pages/buckets/governance/gcs-controls.tsx
  frontend/src/pages/buckets/governance/oci-controls.tsx
  frontend/src/pages/buckets/governance/shell.tsx
  frontend/src/pages/buckets/governance/types.ts
  frontend/src/pages/buckets/governance/useScopedGovernanceMutation.ts
  frontend/src/pages/buckets/useBucketPolicyMutations.ts
  frontend/tests/bucket-governance.spec.ts
Due: build_s3desk_image

docs: record reliability validation
  notes/FEATURE_RELIABILITY_2026-09-08.md
Due: none

fix(buckets): retain active OCI sharing links
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/buckets/governance/oci-controls.tsx
  frontend/src/pages/buckets/governance/requestBuilders.ts
  frontend/tests/bucket-governance.spec.ts
Due: build_s3desk_image

fix(jobs): open retried job details
  frontend/src/pages/jobs/__tests__/useJobsActionMutations.test.tsx
  frontend/src/pages/jobs/useJobsActionMutations.ts
  frontend/src/pages/jobs/useJobsPageControllerState.tsx
  frontend/src/pages/jobs/useJobsPageEventActions.ts
  frontend/tests/jobs-flow.spec.ts
Due: build_s3desk_image

fix(transfers): preserve complete upload retries
  frontend/src/components/transfers/__tests__/uploadRuntimeAttempt.test.ts
  frontend/src/components/transfers/__tests__/uploadRuntimeRetry.test.ts
  frontend/src/components/transfers/uploadRuntimeAttempt.ts
  frontend/src/components/transfers/uploadRuntimeRetry.ts
  frontend/tests/uploads-folder.spec.ts
Due: build_s3desk_image

docs: record workflow completion validation
  notes/FUNCTIONAL_COMPLETENESS_2026-09-08.md
Due: none

fix(objects): open created job details
  docs/FRONTEND_STATE_BOUNDARIES.md
  frontend/src/pages/objects/__tests__/useObjectsCopyMove.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsDelete.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsDnd.test.tsx
  frontend/src/pages/objects/objectsDndRuntime.ts
  frontend/src/pages/objects/objectsFeedback.ts
  frontend/src/pages/objects/useObjectsClipboard.tsx
  frontend/src/pages/objects/useObjectsCopyMove.tsx
  frontend/src/pages/objects/useObjectsDelete.tsx
  frontend/src/pages/objects/useObjectsDnd.tsx
  frontend/src/pages/objects/useObjectsIndexing.tsx
  frontend/src/pages/objects/useObjectsRename.tsx
  frontend/src/pages/objects/useObjectsSelectionMove.tsx
  frontend/src/pages/objects/useObjectsZipJobs.tsx
  frontend/tests/objects-clipboard-paste.spec.ts
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-keyboard.spec.ts
  frontend/tests/objects-selection-move.spec.ts
Due: build_s3desk_image

docs: record object job navigation validation
  notes/FUNCTIONAL_COMPLETENESS_2026-09-08.md
Due: none

fix(downloads): discard stale picker completion
  frontend/src/pages/objects/__tests__/useObjectDownloads.test.tsx
  frontend/src/pages/objects/useObjectDownloads.ts
  frontend/tests/objects-context-menu.spec.ts
Due: build_s3desk_image

fix(objects): retry favorite recovery
  frontend/src/pages/objects/ObjectsFavoritesPane.tsx
  frontend/src/pages/objects/ObjectsTreePanel.tsx
  frontend/src/pages/objects/ObjectsTreeSection.tsx
  frontend/src/pages/objects/__tests__/ObjectsFavoritesPane.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsTreePanel.test.tsx
  frontend/src/pages/objects/buildObjectsPagePanesPropsTypes.ts
  frontend/src/pages/objects/buildObjectsTreePaneProps.ts
  frontend/src/pages/objects/useObjectsScreenPanes.tsx
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/support/objectsMobileResponsive.ts
Due: build_s3desk_image

docs(objects): record recovery ownership
  docs/FRONTEND_STATE_BOUNDARIES.md
  notes/FUNCTIONAL_COMPLETENESS_2026-09-08.md
Due: none

fix(downloads): default to server proxy
  frontend/src/components/transfers/__tests__/useTransfersUploadPreferences.test.tsx
  frontend/src/components/transfers/useTransfersUploadPreferences.ts
  frontend/src/lib/__tests__/storageResetRegistry.test.ts
  frontend/src/lib/useDownloadLinkProxyPreference.ts
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/objects/useObjectsViewModeState.ts
  frontend/src/pages/settings/TransfersSettingsSection.tsx
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/settings-mobile-responsive.spec.ts
  frontend/tests/transfers-live-fallback.spec.ts
Due: build_s3desk_image

fix(objects): separate mobile grid actions
  frontend/src/pages/objects/ObjectsGridCards.module.css
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/ObjectsSelectionBarContent.tsx
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-mobile-grid-density-chromium-linux.png
Due: build_s3desk_image

fix(mobile): compact short-screen headers
  frontend/src/FullAppInner.module.css
  frontend/src/components/PageHeader.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/jobs-mobile-responsive.spec.ts
  frontend/tests/jobs-mobile-responsive.spec.ts-snapshots/jobs-mobile-device-operations-mobile-iphone-13-linux.png
  frontend/tests/jobs-mobile-responsive.spec.ts-snapshots/jobs-mobile-device-operations-mobile-pixel-7-linux.png
  frontend/tests/mobile-platform-standards.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-mobile-workspace-dark-chromium-linux.png
Due: build_s3desk_image

fix(uploads): trim repeated setup guidance
  frontend/src/pages/uploads/UploadsPageShell.tsx
  frontend/src/pages/uploads/UploadsSelectionSection.tsx
  frontend/src/pages/uploads/__tests__/UploadsPageShell.test.tsx
  frontend/src/pages/uploads/__tests__/UploadsSelectionSection.test.tsx
  frontend/src/pages/uploads/__tests__/buildUploadsPagePresentationProps.test.ts
  frontend/src/pages/uploads/buildUploadsPagePresentationProps.ts
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-uploads-mobile-chromium-linux.png
  frontend/tests/uploads-mobile-responsive.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/uploads-desktop-workspace-chromium-linux.png
Due: build_s3desk_image

docs: record mobile design fixes and checks
  notes/MOBILE_DESIGN_AUDIT_2026-09-09.md
  notes/mobile-design-audit-2026-09-09/fixed/grid-center-tap-320.png
  notes/mobile-design-audit-2026-09-09/fixed/grid-touch-targets.json
  notes/mobile-design-audit-2026-09-09/fixed/jobs-320-light.png
  notes/mobile-design-audit-2026-09-09/fixed/objects-320-light.png
  notes/mobile-design-audit-2026-09-09/fixed/objects-grid-320-light.png
  notes/mobile-design-audit-2026-09-09/fixed/objects-grid-390-dark.png
  notes/mobile-design-audit-2026-09-09/fixed/summary.json
  notes/mobile-design-audit-2026-09-09/fixed/uploads-320-light.png
  notes/mobile-design-audit-2026-09-09/grid-center-tap-320.png
  notes/mobile-design-audit-2026-09-09/grid-touch-targets.json
  notes/mobile-design-audit-2026-09-09/jobs-320-light.json
  notes/mobile-design-audit-2026-09-09/jobs-320-light.png
  notes/mobile-design-audit-2026-09-09/objects-320-light.json
  notes/mobile-design-audit-2026-09-09/objects-320-light.png
  notes/mobile-design-audit-2026-09-09/objects-grid-320-light.json
  notes/mobile-design-audit-2026-09-09/objects-grid-320-light.png
  notes/mobile-design-audit-2026-09-09/settings-390-light.png
  notes/mobile-design-audit-2026-09-09/summary.json
Due: none

feat(cache): configure thumbnail cache TTL
  .env
  .env.example
  backend/cmd/server/main.go
  backend/internal/api/handlers_meta_http.go
  backend/internal/api/handlers_thumbnail_http.go
  backend/internal/api/handlers_thumbnails.go
  backend/internal/config/config.go
  backend/internal/models/models.go
  compose/demo/compose.yml
  compose/dev/compose.yml
  compose/remote/caddy.yml
  compose/remote/compose.yml
  frontend/src/api/openapi.ts
  frontend/src/lib/thumbnailCache.ts
  frontend/src/pages/objects/useObjectsPageQueries.ts
  openapi.yml
Due: build_s3desk_image, api_integration

fix(demo): default public host to all interfaces
  docs/SEAWEEDFS_DEMO.md
  scripts/compose.sh
Due: none

fix(api): harden uploads and thumbnails
  backend/internal/api/handlers_favorites_http.go
  backend/internal/api/handlers_favorites_http_test.go
  backend/internal/api/handlers_object_meta_http_test.go
  backend/internal/api/handlers_thumbnail_http.go
  backend/internal/api/handlers_thumbnails.go
  backend/internal/api/handlers_thumbnails_test.go
  backend/internal/api/handlers_uploads_direct_http.go
  backend/internal/api/handlers_uploads_direct_http_test.go
  backend/internal/api/handlers_uploads_validation.go
  backend/internal/api/handlers_uploads_validation_test.go
  backend/internal/api/middleware.go
  backend/internal/api/rclone_helpers.go
  frontend/src/api/__tests__/objects.test.ts
  frontend/src/api/__tests__/uploads.domain.test.ts
  frontend/src/api/domains/objects.ts
  frontend/src/api/domains/uploads.ts
  frontend/src/api/openapi.ts
Due: build_s3desk_image, api_integration

fix(realtime): handle websocket fallback races
  frontend/src/components/transfers/__tests__/useTransfersUploadJobEvents.test.tsx
  frontend/src/components/transfers/useTransfersUploadJobEvents.ts
  frontend/src/pages/jobs/__tests__/useJobsRealtimeEvents.test.tsx
  frontend/src/pages/jobs/useJobsRealtimeEvents.ts
Due: build_s3desk_image

fix(frontend): improve object layout reflow
  frontend/src/FullAppInner.module.css
  frontend/src/FullAppShellChrome.tsx
  frontend/src/pages/objects/ObjectsGridCards.module.css
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/__tests__/objectsGridLayout.test.ts
  frontend/src/pages/objects/__tests__/useObjectsScreenPreviewState.test.tsx
  frontend/src/pages/objects/objectsGridLayout.ts
  frontend/src/pages/objects/objectsPageConstants.ts
  frontend/src/pages/objects/useObjectsObjectGridRenderer.tsx
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/wcag-reflow.spec.ts
Due: build_s3desk_image

feat(governance): review settings before saving
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/buckets/__tests__/BucketGovernanceModal.test.tsx
  frontend/src/pages/buckets/__tests__/BucketPolicyModal.test.tsx
  frontend/src/pages/buckets/__tests__/azurePolicyPermissions.test.ts
  frontend/src/pages/buckets/__tests__/ociRetentionDuration.test.tsx
  frontend/src/pages/buckets/__tests__/ociSharingLimit.test.tsx
  frontend/src/pages/buckets/governance/OCIControlBodies.tsx
  frontend/src/pages/buckets/governance/OCIPreauthenticatedRequestEditorCard.tsx
  frontend/src/pages/buckets/governance/OCIRetentionRuleEditorCard.tsx
  frontend/src/pages/buckets/governance/aws-controls.tsx
  frontend/src/pages/buckets/governance/azure-controls.tsx
  frontend/src/pages/buckets/governance/gcs-controls.tsx
  frontend/src/pages/buckets/governance/mutationScope.ts
  frontend/src/pages/buckets/governance/oci-controls.tsx
  frontend/src/pages/buckets/governance/requestBuilders.ts
  frontend/src/pages/buckets/governance/types.ts
  frontend/src/pages/buckets/governance/useGovernanceApproval.tsx
  frontend/src/pages/buckets/governance/useScopedGovernanceMutation.ts
  frontend/src/pages/buckets/governance/utils.ts
  frontend/src/pages/buckets/useBucketPolicyMutations.ts
  frontend/tests/bucket-governance.spec.ts
Due: build_s3desk_image

docs(governance): record issue 39 evidence
  docs/BUCKET_GOVERNANCE.md
  docs/BUCKET_GOVERNANCE_VALIDATION_MATRIX.md
  docs/ISSUE_39_WORKLOG.md
  docs/README.md
Due: none

fix(s3): reject invalid list page sizes
  backend/internal/s3client/list.go
  backend/internal/s3client/list_test.go
Due: build_s3desk_image, api_integration

chore(checks): resolve full gate findings
  backend/internal/api/download_proxy.go
  backend/internal/api/middleware.go
  backend/internal/operationreceipt/receipt.go
  backend/internal/s3client/client.go
  scripts/check_demo_seaweedfs_test.py
Due: build_s3desk_image, api_integration

fix(backup): verify bundles and preserve recovery
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_backup_http.go
  backend/internal/api/handlers_server_backup_http_test.go
  backend/internal/api/handlers_server_backup_security_test.go
  backend/internal/api/handlers_server_backup_test.go
  backend/internal/api/handlers_server_backup_transfer.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_portable_apply.go
  backend/internal/api/handlers_server_portable_flow_test.go
  backend/internal/api/handlers_server_portable_http.go
  backend/internal/api/handlers_server_portable_http_test.go
  backend/internal/api/handlers_server_portable_recovery.go
  backend/internal/api/handlers_server_portable_recovery_test.go
  backend/internal/api/handlers_server_portable_request.go
  backend/internal/api/handlers_server_portable_request_test.go
  backend/internal/api/handlers_server_portable_response.go
  backend/internal/api/handlers_server_portable_test.go
  backend/internal/api/handlers_server_restore_bundle.go
  backend/internal/api/handlers_server_restore_verify.go
  backend/internal/api/handlers_server_restore_verify_test.go
  backend/internal/models/models.go
  backend/internal/store/store_backup.go
  backend/internal/store/store_backup_test.go
  backend/internal/store/store_portable.go
  backend/internal/store/store_portable_test.go
  docs/BACKUP_RESTORE_FAILURE_ANALYSIS.ko.md
  docs/PORTABLE_BACKUP.md
  docs/README.md
  docs/RUNBOOK.md
  docs/TESTING.md
  frontend/src/api/openapi.ts
  openapi.yml
  scripts/portable/run-failure-smoke.py
  scripts/portable/run-smoke.py
  scripts/portable/seed-source.py
  scripts/run_portable_failure_smoke.sh
Due: build_s3desk_image, api_integration

fix(backup-ui): require trust and fresh previews
  frontend/src/api/__tests__/server.domain.test.ts
  frontend/src/api/clientSubFacades.ts
  frontend/src/api/domains/server.ts
  frontend/src/components/SidebarBackupDrawer.tsx
  frontend/src/components/SidebarBackupRemoteSection.tsx
  frontend/src/components/SidebarPortableImportSection.tsx
  frontend/src/components/SidebarRestoreBundleSection.tsx
  frontend/src/components/__tests__/SidebarBackupAction.test.tsx
  frontend/src/components/useBackupDrawerState.ts
  frontend/tests/backup-trust.spec.ts
Due: build_s3desk_image

style(ui): simplify surfaces and touch targets
  frontend/docs/DESIGN_AUDIT_IMPLEMENTATION_STATUS.md
  frontend/docs/DESIGN_AUDIT_VALIDATION_LOG.md
  frontend/docs/DESIGN_TOKEN_USAGE.md
  frontend/src/FullAppInner.module.css
  frontend/src/index.css
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/ProfilesPage.module.css
  frontend/src/pages/objects/ObjectThumbnail.tsx
  frontend/src/pages/objects/ObjectThumbnailLazy.tsx
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/ObjectsShell.module.css
  frontend/src/pages/objects/ObjectsThumbnailPrimitives.module.css
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/design-audit-visual.spec.ts
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-buckets-desktop-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-navigation-focus-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-bucket-picker-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-dark-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-light-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-narrow-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-shell-tablet-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-objects-thumbnail-unavailable-mobile-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-profiles-desktop-chromium-linux.png
  frontend/tests/design-audit-visual.spec.ts-snapshots/design-audit-uploads-mobile-chromium-linux.png
  frontend/tests/jobs-mobile-responsive.spec.ts-snapshots/jobs-mobile-device-operations-mobile-iphone-13-linux.png
  frontend/tests/jobs-mobile-responsive.spec.ts-snapshots/jobs-mobile-device-operations-mobile-pixel-7-linux.png
  frontend/tests/login-mobile-responsive.spec.ts-snapshots/login-mobile-device-token-panel-mobile-iphone-13-linux.png
  frontend/tests/login-mobile-responsive.spec.ts-snapshots/login-mobile-device-token-panel-mobile-pixel-7-linux.png
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-mobile-grid-density-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-desktop-workspace-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-mobile-filters-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-mobile-workspace-dark-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/login-mobile-token-panel-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/profiles-mobile-edit-dialog-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/settings-desktop-drawer-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/settings-mobile-drawer-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-desktop-workspace-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/uploads-desktop-workspace-chromium-linux.png
Due: build_s3desk_image

feat(thumbnails): add saved resolution preferences
  frontend/src/lib/__tests__/thumbnailCache.test.ts
  frontend/src/lib/storageResetRegistry.ts
  frontend/src/lib/thumbnailCache.ts
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/objects/ObjectThumbnail.tsx
  frontend/src/pages/objects/__tests__/ObjectThumbnail.test.tsx
  frontend/src/pages/settings/ObjectsSettingsSection.tsx
  frontend/tests/objects-image-preview.spec.ts
  frontend/tests/settings-mobile-responsive.spec.ts
Due: build_s3desk_image

chore(release): prepare 0.21v-rc5 candidate
  CHANGELOG.md
  docs/release/evidence/LIVE_EVIDENCE_CHECKLIST_2026-10-04.md
  docs/release/evidence/README.md
Due: none

fix(portable): guard destination and encrypt imported credentials
  backend/internal/api/handlers_server_portable_apply.go
  backend/internal/api/handlers_server_portable_request.go
  backend/internal/api/handlers_server_portable_test.go
  backend/internal/store/store_portable.go
  backend/internal/store/store_portable_test.go
  backend/internal/store/store_profile_secrets.go
Due: build_s3desk_image, api_integration

test(portable): cover bidirectional PostgreSQL migrations in CI
  .gitlab-ci.yml
  backend/internal/store/store_portable_postgres_test.go
  backend/internal/store/store_transactions_postgres_test.go
  docs/RELEASE_GATE.md
  docs/TESTING.md
  scripts/check_gitlab_publish_dag_test.py
Due: build_s3desk_image, api_integration

test(portable): extend smoke coverage and record migration evidence
  docs/PORTABLE_BACKUP.md
  docs/release/evidence/sqlite-postgres-migration-2026-10-04.md
  scripts/portable/run-smoke.py
  scripts/portable/seed-source.py
Due: none
