Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

ci: stabilize remaining core e2e flakes
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/webview-realtime.spec.ts
Due: build_s3desk_image

ci: retry stalled route readiness
  frontend/tests/support/ui.ts
Due: build_s3desk_image

ci: reduce core e2e runner contention
  .github/workflows/frontend-e2e.yml
  frontend/tests/support/ui.ts
Due: build_s3desk_image

ci: tune e2e timeouts for runners
  .github/workflows/frontend-e2e.yml
  frontend/playwright.config.ts
Due: build_s3desk_image

test: stabilize objects global search flow
  frontend/tests/objects-global-search.spec.ts
Due: build_s3desk_image

ci: avoid unnecessary e2e readiness reloads
  frontend/tests/objects-global-search.spec.ts
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

ci: extend e2e readiness settle wait
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/support/ui.ts
Due: build_s3desk_image

test: cover download proxy public route policy
  backend/internal/api/public_routes_test.go
  docs/release/REMAINING_STRUCTURE_DEBT.md
Due: build_s3desk_image, api_integration

refactor: split buckets shell view props builder
  docs/release/REMAINING_STRUCTURE_DEBT.md
  frontend/src/pages/buckets/buildBucketsPageControllerState.ts
  frontend/src/pages/buckets/buildBucketsPageShellViewProps.ts
Due: build_s3desk_image

fix: surface favorites load failures without retries
  frontend/src/pages/objects/__tests__/useObjectsFavorites.test.tsx
  frontend/src/pages/objects/useObjectsFavorites.ts
Due: build_s3desk_image

test: relax transfer e2e page readiness timeouts
  frontend/tests/transfers-job-artifact.spec.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

test: stabilize object menu and transfer drawer e2e
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/transfers-job-artifact.spec.ts
Due: build_s3desk_image

test: retry transfer route readiness under ci load
  frontend/tests/support/ui.ts
  frontend/tests/transfers-job-artifact.spec.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

test: use role fallback for objects bucket picker
  frontend/tests/support/ui.ts
Due: build_s3desk_image

test: avoid reload loops during route readiness waits
  frontend/tests/support/ui.ts
  frontend/tests/transfers-job-artifact.spec.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

test: stabilize webview realtime and object menu e2e
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/webview-realtime.spec.ts
Due: build_s3desk_image

test: stabilize transfer progress e2e readiness
  frontend/tests/transfers-progress.spec.ts
Due: build_s3desk_image

test: isolate realtime ticket entropy failures
  backend/internal/api/handlers_realtime_ticket_http_test.go
Due: build_s3desk_image, api_integration

test: bound flaky menu and transfer e2e clicks
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/support/ui.ts
Due: build_s3desk_image

test: allow slow webview objects readiness
  frontend/tests/webview-environment-posture.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

test: allow slow transfer scenario jobs readiness
  frontend/tests/transfers-scenarios.spec.ts
Due: build_s3desk_image

test: allow slow webview jobs drawer readiness
  frontend/tests/webview-environment-posture.spec.ts
Due: build_s3desk_image

test: bound list context menu new folder click
  frontend/tests/objects-context-menu.spec.ts
Due: build_s3desk_image

ci: shard core mock e2e workflow
  .github/workflows/frontend-e2e.yml
  .github/workflows/license-audit.yml
  .github/workflows/release-gate.yml
  docs/RELEASE_GATE.md
  docs/TESTING.md
  frontend/docs/MOBILE_RESPONSIVE_E2E.md
Due: build_s3desk_image

ci: use node24 github actions
  .github/workflows/frontend-e2e.yml
  .github/workflows/license-audit.yml
  .github/workflows/release-gate.yml
Due: none

chore: address subagent audit gaps
  backend/internal/logging/logging.go
  backend/internal/logging/logging_test.go
  docs/CODEBASE_SUBAGENT_GAP_REPORT_2026-05-21.md
  docs/README.md
  docs/RELEASE_GATE.md
  frontend/docs/MOBILE_RESPONSIVE_E2E.md
  frontend/src/components/MenuPopover.tsx
  frontend/src/pages/buckets/policy/azure-structured.tsx
  frontend/src/pages/buckets/policy/gcs-structured.tsx
  frontend/src/pages/objects/ObjectsGlobalSearchResults.tsx
  frontend/src/pages/objects/ObjectsMenuPopover.tsx
  frontend/src/pages/profiles/ProfilesTable.tsx
  scripts/check_github_workflows.py
  scripts/check_github_workflows_test.py
  scripts/check_release_gate.sh
Due: build_s3desk_image, api_integration

fix: harden backend job and portable backup paths
  backend/internal/api/handlers_jobs.go
  backend/internal/api/handlers_jobs_read_test.go
  backend/internal/api/handlers_jobs_request_test.go
  backend/internal/api/handlers_jobs_submission.go
  backend/internal/api/handlers_jobs_test.go
  backend/internal/api/handlers_server_backup.go
  backend/internal/api/handlers_server_backup_test.go
  backend/internal/api/handlers_server_portable.go
  backend/internal/api/handlers_server_portable_entities.go
  backend/internal/api/handlers_server_portable_entities_test.go
  backend/internal/api/handlers_server_portable_test.go
  backend/internal/db/db.go
  backend/internal/jobs/manager_job_types.go
  backend/internal/jobs/manager_job_types_test.go
  backend/internal/store/store_portable.go
  docs/PORTABLE_BACKUP.md
Due: build_s3desk_image, api_integration

fix: tighten frontend shortcuts and accessibility checks
  frontend/src/components/PageSection.tsx
  frontend/src/components/__tests__/PageSection.test.tsx
  frontend/src/lib/__tests__/useKeyboardShortcuts.test.tsx
  frontend/src/lib/useKeyboardShortcuts.ts
  frontend/src/useFullAppShellState.ts
  frontend/tests/accessibility-overlays.spec.ts
Due: build_s3desk_image

ci: broaden browser-facing e2e scope
  .github/workflows/frontend-e2e.yml
  scripts/check_github_workflows.py
  scripts/check_github_workflows_test.py
  scripts/check_release_gate.sh
Due: none

docs: record subagent audit and ownership
  .github/CODEOWNERS
  docs/BACKEND_ARCHITECTURE.md
  docs/CODEBASE_SUBAGENT_GAP_REPORT_2026-05-21.md
  docs/CODE_OWNERSHIP.md
  docs/README.md
Due: none

security: enforce remote startup secrets
  .env.example
  .github/workflows/frontend-e2e.yml
  backend/cmd/server/main.go
  backend/internal/app/app.go
  backend/internal/app/app_test.go
  compose/demo/compose.yml
  compose/remote/caddy.yml
  compose/remote/compose.yml
  compose/test/e2e.yml
  compose/test/portable-smoke.yml
  docs/PORTABLE_BACKUP.md
  docs/RUNBOOK.md
  docs/TESTING.md
  docs/ci/e2e_live.env.example
  scripts/compose.sh
  scripts/demo/seed-s3desk.py
  scripts/portable/run-failure-smoke.py
  scripts/portable/run-smoke.py
  scripts/portable/seed-source.py
  scripts/run_portable_failure_smoke.sh
Due: build_s3desk_image, api_integration

fix: guard portable replace imports
  backend/internal/api/handlers_server_portable.go
  backend/internal/store/store_portable.go
  backend/internal/store/store_portable_test.go
Due: build_s3desk_image, api_integration

docs: update subagent gap report
  docs/CODEBASE_SUBAGENT_GAP_REPORT_2026-05-21.md
  scripts/check_release_evidence.py
  scripts/check_release_evidence_test.py
Due: none

ux: simplify primary app navigation
  frontend/src/FullAppOverlaysHost.tsx
  frontend/src/FullAppShellChrome.tsx
  frontend/src/__tests__/FullAppInner.smoke.test.tsx
  frontend/src/__tests__/FullAppOverlaysHost.test.tsx
  frontend/src/__tests__/useFullAppController.test.tsx
  frontend/src/components/SettingsDrawer.tsx
  frontend/src/components/SidebarBackupAction.module.css
  frontend/src/components/SidebarBackupAction.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/settings/ServerSettingsSection.tsx
  frontend/src/pages/settings/__tests__/ServerSettingsSection.test.tsx
  frontend/src/pages/uploads/UploadsPageShell.tsx
  frontend/src/useFullAppShellState.ts
  frontend/src/useFullAppShellViewModel.ts
  frontend/tests/server-migration-live.spec.ts
  frontend/tests/settings-mobile-responsive.spec.ts
  frontend/tests/uploads-more-menu.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

ux: streamline activity and indexed search
  frontend/src/lib/jobTypes.ts
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/__tests__/JobsToolbar.test.tsx
  frontend/src/pages/jobs/__tests__/useJobsPageControllerState.test.tsx
  frontend/src/pages/jobs/useJobsPageControllerState.tsx
  frontend/src/pages/objects/ObjectsGlobalSearchDrawer.tsx
  frontend/src/pages/objects/ObjectsListControls.tsx
  frontend/src/pages/objects/__tests__/ObjectsListControls.test.tsx
  frontend/src/pages/objects/objectsGlobalActionCatalog.tsx
  frontend/src/pages/settings/ObjectsSettingsSection.tsx
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/dark-theme-accessibility.spec.ts
  frontend/tests/dark-theme-visual-regression.spec.ts
  frontend/tests/jobs-perf.spec.ts
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/objects-visual-regression.spec.ts
  frontend/tests/storage-migration.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/webview-realtime.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

ux: clarify previews and bucket entry
  frontend/src/pages/buckets/BucketActions.tsx
  frontend/src/pages/buckets/BucketsList.tsx
  frontend/src/pages/buckets/__tests__/BucketActions.test.tsx
  frontend/src/pages/buckets/__tests__/BucketsList.test.tsx
  frontend/src/pages/buckets/__tests__/BucketsPageShell.test.tsx
  frontend/src/pages/buckets/__tests__/buildBucketsPageControllerState.test.ts
  frontend/src/pages/buckets/__tests__/useBucketsPageFeatureState.test.tsx
  frontend/src/pages/buckets/buildBucketsPageShellViewProps.ts
  frontend/src/pages/buckets/useBucketsPageFeatureState.ts
  frontend/src/pages/objects/ObjectsDetailsContent.tsx
  frontend/src/pages/objects/ObjectsDetailsMediaSections.tsx
  frontend/src/pages/objects/__tests__/ObjectsDetailsContent.test.tsx
  frontend/src/pages/profiles/ProfilesPageShell.tsx
  frontend/tests/objects-image-preview.spec.ts
Due: build_s3desk_image

test: align objects smoke with indexed search
  frontend/tests/objects-smoke.spec.ts
Due: build_s3desk_image

ux: reduce frontend feature friction
  frontend/src/LightApp.tsx
  frontend/src/__tests__/LightApp.auth.test.tsx
  frontend/src/components/SidebarBackupDrawer.tsx
  frontend/src/components/__tests__/SidebarBackupAction.test.tsx
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/buckets/BucketActions.tsx
  frontend/src/pages/buckets/__tests__/BucketActions.test.tsx
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/objects/ObjectsFavoritesPane.tsx
  frontend/src/pages/objects/ObjectsTreePanel.tsx
  frontend/src/pages/objects/ObjectsTreeSection.tsx
  frontend/src/pages/objects/__tests__/ObjectsFavoritesPane.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsPagePanes.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsTreePanel.test.tsx
  frontend/src/pages/objects/buildObjectsPagePanesPropsTypes.ts
  frontend/src/pages/objects/buildObjectsTreePaneProps.ts
  frontend/src/pages/objects/useObjectsScreenPanes.tsx
  frontend/src/pages/objects/useObjectsTopMenus.tsx
  frontend/src/pages/profiles/ProfilesTable.tsx
  frontend/src/pages/settings/TransfersSettingsSection.tsx
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/bucket-governance.spec.ts
  frontend/tests/buckets-mobile-responsive.spec.ts
  frontend/tests/dark-theme-accessibility.spec.ts
  frontend/tests/mobile-smoke.spec.ts
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/objects-smoke.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/workflows-visual-regression.spec.ts
Due: build_s3desk_image

docs: add frontend friction audit
  docs/FRONTEND_FEATURE_FRICTION_AUDIT_2026-05-22.md
Due: none

ux: simplify remaining frontend task flows
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/ProfilesPage.import.test.tsx
  frontend/src/pages/__tests__/SettingsPage.test.tsx
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/__tests__/JobsToolbar.test.tsx
  frontend/src/pages/jobs/useJobsPageControllerState.tsx
  frontend/src/pages/profiles/ProfilesPageShell.tsx
  frontend/src/pages/profiles/__tests__/ProfilesPageShell.test.tsx
  frontend/src/pages/settings/AccessSettingsSection.tsx
  frontend/src/pages/uploads/UploadsSelectionSection.tsx
  frontend/src/pages/uploads/__tests__/UploadsPageShell.test.tsx
  frontend/src/pages/uploads/__tests__/UploadsSelectionSection.test.tsx
  frontend/src/pages/uploads/__tests__/buildUploadsPagePresentationProps.test.ts
  frontend/src/pages/uploads/__tests__/useUploadsPageControllerState.test.tsx
  frontend/src/pages/uploads/__tests__/useUploadsPageSelectionActions.test.tsx
  frontend/src/pages/uploads/__tests__/useUploadsPageSelectionState.test.tsx
  frontend/src/pages/uploads/buildUploadsPagePresentationProps.ts
  frontend/src/pages/uploads/useUploadsPageSelectionActions.ts
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/jobs-mobile-responsive.spec.ts
  frontend/tests/mobile-smoke.spec.ts
  frontend/tests/profiles-mobile-responsive.spec.ts
  frontend/tests/uploads-mobile-responsive.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts
Due: build_s3desk_image
