Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

test: stabilize frontend e2e workflow and selectors
  .github/workflows/frontend-e2e.yml
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/tests/jobs-flow.spec.ts
  frontend/tests/jobs-network.spec.ts
  frontend/tests/jobs-overlays.spec.ts
  frontend/tests/jobs-perf.spec.ts
  frontend/tests/objects-dnd-upload.spec.ts
  frontend/tests/objects-image-preview.spec.ts
  frontend/tests/profiles-provider-forms.spec.ts
  frontend/tests/settings-auth.spec.ts
  frontend/tests/support/storage.ts
  frontend/tests/transfers-presigned.spec.ts
  frontend/tests/transfers-scenarios.spec.ts
  frontend/tests/uploads-more-menu.spec.ts
Due: build_s3desk_image

ci: fix release gate signal and runtime license audit
  backend/internal/api/handlers_thumbnails.go
  backend/internal/dirlock/lock_test.go
  backend/internal/dirlock/lock_unix.go
  scripts/check.sh
  scripts/license-audit.sh
Due: build_s3desk_image, api_integration

ci: run audit workflows on Go 1.25
  .github/workflows/license-audit.yml
  .github/workflows/release-gate.yml
Due: none

ci: stabilize remaining release gate checks
  frontend/tests/jobs-realtime-overlays.spec.ts
  frontend/tests/objects-global-search.spec.ts
  frontend/tests/objects-prefix-pagination-chaos.spec.ts
  third_party/licenses-manual/external/rclone-LICENSE
Due: build_s3desk_image

ci: stabilize transfer dialogs and notice generation
  frontend/tests/demo-bucket-upload-delete-jobs.spec.ts
  frontend/tests/transfers-job-artifact.spec.ts
  scripts/generate_third_party_notices.py
  third_party/licenses/external/rclone-LICENSE
Due: build_s3desk_image

test: harden transfers dialog open retries
  frontend/tests/support/ui.ts
  frontend/tests/transfers-drawer-actions.spec.ts
Due: build_s3desk_image

test: stabilize transfer fallback assertions
  frontend/tests/transfers-job-artifact.spec.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

test: relax transfer drawer active-state assertion
  frontend/tests/transfers-drawer-actions.spec.ts
Due: build_s3desk_image

test: stabilize artifact and objects smoke transitions
  frontend/tests/objects-smoke.spec.ts
  frontend/tests/transfers-job-artifact.spec.ts
Due: build_s3desk_image

ci: allow live e2e to force docker compose
  .github/workflows/frontend-e2e.yml
  scripts/compose.sh
Due: none

ci: fix live e2e token and transfers retry timing
  .github/workflows/frontend-e2e.yml
  compose/test/e2e.yml
  frontend/tests/transfers-drawer-actions.spec.ts
Due: build_s3desk_image

ci: align live e2e env with tls guards
  .github/workflows/frontend-e2e.yml
  frontend/tests/docs-smoke.spec.ts
Due: build_s3desk_image

ci: use docker-network endpoint for live minio
  .github/workflows/frontend-e2e.yml
Due: none

ci: stabilize live uploads and gcs emulator routing
  .github/workflows/frontend-e2e.yml
  frontend/src/api/__tests__/uploads.domain.test.ts
  frontend/src/api/domains/uploads.ts
  frontend/tests/bucket-policy-live.spec.ts
  frontend/tests/capabilities-ui-gating.spec.ts
  frontend/tests/uploads-folder.spec.ts
Due: build_s3desk_image

ci: upload hidden license audit artifacts
  .github/workflows/license-audit.yml
Due: none

docs: tighten PR body release summary
  docs/release/PR_BODY.md
  docs/release/PR_BODY_2026-04-02.md
Due: none

ci: fix release gate and bundle budget
  backend/internal/api/handlers_uploads_files.go
  backend/internal/api/handlers_uploads_validation.go
  backend/internal/api/handlers_uploads_validation_test.go
  scripts/bundle_report.js
Due: build_s3desk_image, api_integration

fix: stabilize mobile upload selection flow
  frontend/src/components/transfers/transfersUploadUtils.ts
  frontend/tests/uploads-mobile-responsive.spec.ts
Due: build_s3desk_image

test: stabilize core mock e2e flows
  frontend/src/FullAppInner.tsx
  frontend/src/components/transfers/transfersUploadUtils.ts
  frontend/src/pages/objects/useObjectsClipboard.tsx
  frontend/tests/objects-clipboard-paste.spec.ts
  frontend/tests/objects-new-folder.spec.ts
  frontend/tests/objects-prefix-pagination-chaos.spec.ts
  frontend/tests/transfers-drawer-actions.spec.ts
  frontend/tests/transfers-progress.spec.ts
Due: build_s3desk_image

test: fix full gate regressions
  frontend/src/__tests__/FullAppInner.smoke.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsClipboard.test.tsx
  frontend/src/pages/objects/useObjectsClipboard.tsx
Due: build_s3desk_image

test: flush bucket policy modal teardown
  frontend/src/pages/buckets/__tests__/BucketPolicyModal.test.tsx
Due: build_s3desk_image

refactor: tighten upload commit boundaries
  backend/internal/api/handlers_uploads_commit_api.go
  backend/internal/api/handlers_uploads_commit_cleanup.go
  backend/internal/api/handlers_uploads_commit_finalize.go
  backend/internal/api/handlers_uploads_commit_routing.go
  backend/internal/api/handlers_uploads_commit_targets.go
  backend/internal/api/handlers_uploads_commit_verify.go
  backend/internal/api/middleware_test.go
  backend/internal/api/realtime_origin_test.go
  docs/FRONTEND_STATE_BOUNDARIES.md
  docs/README.md
  frontend/src/pages/buckets/useBucketScopedViewState.ts
  frontend/src/pages/buckets/useBucketsPageState.ts
  frontend/src/pages/profiles/profileMutationScope.ts
  frontend/src/pages/profiles/useProfilesPageMutations.ts
Due: build_s3desk_image, api_integration

test: cover upload commit target builders
  backend/internal/api/handlers_uploads_commit_targets_test.go
  frontend/src/pages/buckets/bucketNotEmptyNavigation.ts
  frontend/src/pages/buckets/useBucketsPageState.ts
Due: build_s3desk_image, api_integration

fix: stabilize objects layout and remove setup route
  compose/demo/compose.yml
  docs/FRONTEND_STATE_BOUNDARIES.md
  docs/WEBVIEW_QA_TEST_CASES.md
  frontend/src/App.tsx
  frontend/src/FullAppInner.tsx
  frontend/src/__tests__/App.routing.test.tsx
  frontend/src/app/ProfileGate.tsx
  frontend/src/components/SetupCallout.tsx
  frontend/src/pages/__tests__/BucketsPage.smoke.test.tsx
  frontend/src/pages/__tests__/JobsPage.smoke.test.tsx
  frontend/src/pages/__tests__/UploadsPage.test.tsx
  frontend/src/pages/objects/ObjectsListContent.tsx
  frontend/src/pages/objects/ObjectsListRow.tsx
  frontend/src/pages/objects/ObjectsListRowItems.tsx
  frontend/src/pages/objects/ObjectsListView.module.css
  frontend/src/pages/objects/__tests__/ObjectsListContent.test.tsx
  frontend/src/pages/objects/__tests__/ObjectsListRow.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsLayout.test.tsx
  frontend/src/pages/objects/__tests__/useObjectsPageViewState.test.tsx
  frontend/src/pages/objects/useObjectsLayout.ts
  frontend/src/pages/objects/useObjectsListVirtualizer.ts
  frontend/src/pages/objects/useObjectsPageViewState.ts
  frontend/src/pages/objects/useObjectsRowRenderers.tsx
  frontend/src/pages/objects/useObjectsScreenListInteractions.tsx
  frontend/src/pages/objects/useObjectsScreenToolbar.ts
  frontend/tests/login-mobile-responsive.spec.ts
  frontend/tests/mobile-smoke.spec.ts
  frontend/tests/settings-auth.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

fix
  frontend/src/FullAppInner.tsx
  frontend/src/__tests__/FullAppInner.routes.test.tsx
  frontend/src/components/TopBarProfileSelect.tsx
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/buckets/useBucketsPageState.ts
  frontend/src/pages/jobs/useJobsPageController.tsx
  frontend/src/pages/objects/useObjectsPageQueries.ts
Due: build_s3desk_image

ci: fix release gate workflow checks
  .github/workflows/frontend-e2e.yml
  .github/workflows/release-gate.yml
Due: none

ci: stabilize release and visual gates
  backend/internal/localpath/pin_unix.go
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/dark-theme-visual-regression.spec.ts-snapshots/objects-dark-global-search-drawer-chromium-linux.png
  frontend/tests/objects-image-preview.spec.ts-snapshots/objects-image-viewer-mobile-pan-focus-chromium-linux.png
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-global-search-drawer-actions-chromium-linux.png
  frontend/tests/objects-visual-regression.spec.ts-snapshots/objects-mobile-grid-density-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-azure-governance-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-azure-immutability-warning-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-delete-confirmation-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-gcs-governance-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-gcs-locked-retention-warning-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-not-empty-warning-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-oci-governance-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/buckets-mobile-policy-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/jobs-mobile-filters-sheet-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/profiles-mobile-edit-dialog-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/profiles-mobile-yaml-import-dialog-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/settings-mobile-drawer-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-mobile-downloads-state-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/transfers-mobile-uploads-state-chromium-linux.png
  frontend/tests/workflows-visual-regression.spec.ts-snapshots/uploads-mobile-source-selection-dialog-chromium-linux.png
Due: build_s3desk_image, api_integration

ci: stabilize frontend e2e gates
  frontend/src/components/SimpleTree.tsx
  frontend/src/pages/profiles/ProfileModal.module.css
  frontend/src/pages/profiles/ProfileProviderChecklist.tsx
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/jobs-flow.spec.ts
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/transfers-progress.spec.ts
Due: build_s3desk_image

ci: relax frontend e2e readiness waits
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/objects-network-chaos.spec.ts
  frontend/tests/support/ui.ts
Due: build_s3desk_image

ci: stabilize mobile responsive interactions
  frontend/tests/objects-mobile-responsive.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/uploads-mobile-responsive.spec.ts
Due: build_s3desk_image

ci: stabilize core e2e readiness assertions
  frontend/tests/accessibility-overlays.spec.ts
  frontend/tests/objects-layout-density.spec.ts
  frontend/tests/objects-network-chaos.spec.ts
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/webview-routing.spec.ts
Due: build_s3desk_image

ci: extend slow core e2e waits
  frontend/tests/objects-network-chaos.spec.ts
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/profiles-provider-forms.spec.ts
  frontend/tests/support/ui.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

ci: harden remaining core e2e flakes
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-prefix-pagination-chaos.spec.ts
  frontend/tests/support/ui.ts
Due: build_s3desk_image

ci: stabilize final core e2e waits
  frontend/tests/objects-search-favorites-chaos.spec.ts
  frontend/tests/transfers-job-artifact.spec.ts
Due: build_s3desk_image

ci: handle late transfer dialog opens
  frontend/tests/support/ui.ts
Due: build_s3desk_image
