Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

build_s3desk_image:
  stage: build
  image: quay.io/podman/stable:latest
  variables:
    STORAGE_DRIVER: vfs
    CONTAINERS_STORAGE_DRIVER: vfs
    BUILDAH_ISOLATION: chroot
    HARBOR_REGISTRY: harbor.k8s.homelabird.com
    S3DESK_IMAGE: ${HARBOR_REGISTRY}/library/s3desk:${CI_COMMIT_SHA}
  before_script:
  ...

api_integration:
  stage: test
  image: quay.io/podman/stable:latest
  variables:
    STORAGE_DRIVER: vfs
    CONTAINERS_STORAGE_DRIVER: vfs
    BUILDAH_ISOLATION: chroot
    PODMAN_NETWORK_BACKEND: slirp4netns
    CONTAINERS_NETWORK_BACKEND: slirp4netns
    HARBOR_REGISTRY: harbor.k8s.homelabird.com
  ...

refactor(objects): move list scroller ref to virtualizer
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/useObjectsListVirtualizer.ts
  frontend/src/pages/objects/useObjectsRowRenderers.tsx
Due: build_s3desk_image

refactor(objects): extract overlays presentation component
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/ObjectsPageOverlays.tsx
Due: build_s3desk_image

refactor(objects): extract page header component
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/ObjectsPageHeader.tsx
Due: build_s3desk_image

refactor(transfers): extract drawer state and provider view
  frontend/src/components/Transfers.tsx
  frontend/src/components/transfers/TransfersProviderView.tsx
  frontend/src/components/transfers/useTransfersDrawerProps.ts
Due: build_s3desk_image

refactor(jobs): consolidate payload optional helpers
  backend/internal/jobs/payload_helpers.go
  backend/internal/jobs/payload_s3_index_objects.go
  backend/internal/jobs/payload_transfer_batch.go
Due: build_s3desk_image, api_integration

chore: add precise CI exact-mode SKILL template and openai policy
  SKILL.md
  agents/openai.yaml
Due: none

fix: harden profile JSON parsing and CI validation coverage
  .gitlab-ci.yml
  backend/internal/store/store.go
  backend/internal/store/store_profiles_test.go
  frontend/package-lock.json
  scripts/build.sh
  scripts/check.sh
  scripts/dev.sh
  scripts/podman.sh
Due: build_s3desk_image, api_integration

refactor(objects): split page screen into data/actions and pane builders
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/ObjectsPageScreen.tsx
  frontend/src/pages/objects/buildObjectsPageOverlaysProps.tsx
  frontend/src/pages/objects/buildObjectsPagePanesProps.tsx
  frontend/src/pages/objects/useObjectsPageActions.ts
  frontend/src/pages/objects/useObjectsPageData.ts
  frontend/src/pages/objects/useObjectsPageListInteractions.tsx
Due: build_s3desk_image

fix(backend): harden job/upload consistency and split manager/store modules
  backend/internal/api/handlers_jobs.go
  backend/internal/api/handlers_jobs_test.go
  backend/internal/api/handlers_uploads.go
  backend/internal/api/handlers_uploads_chunks.go
  backend/internal/api/handlers_uploads_multipart_failures_test.go
  backend/internal/api/handlers_uploads_test.go
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
  backend/internal/api/s3_helpers.go
  backend/internal/jobs/manager.go
  backend/internal/jobs/manager_consistency_test.go
  backend/internal/jobs/manager_paths.go
  backend/internal/jobs/manager_tuning.go
  backend/internal/jobs/s3_delete_objects.go
  backend/internal/jobs/s3_index_objects.go
  backend/internal/jobs/s3_zip.go
  backend/internal/store/store.go
  backend/internal/store/store_jobs.go
Due: build_s3desk_image, api_integration

ci: enforce golangci-lint and net-new inline-style guard
  .gitlab-ci.yml
  frontend/eslint.config.js
  frontend/package.json
  scripts/check-inline-style.sh
Due: build_s3desk_image

chore(api): sync openapi schema and frontend type aliases
  frontend/src/api/client.ts
  frontend/src/api/openapi.ts
  frontend/src/api/types.ts
  openapi.yml
Due: build_s3desk_image, api_integration

docs(frontend): add execution plan for FE PR sequence
  docs/FRONTEND_PR_EXECUTION_PLAN.md
Due: none

docs(frontend): refresh execution plan status in English
  docs/FRONTEND_PR_EXECUTION_PLAN.md
Due: none

fix: harden public routes and download errors
  backend/internal/api/api.go
  backend/internal/api/download_proxy.go
  backend/internal/api/download_stream.go
  backend/internal/api/download_stream_test.go
  backend/internal/api/handlers_objects.go
  backend/internal/api/public_routes_test.go
Due: build_s3desk_image, api_integration

fix: harden realtime sync and objects queries
  frontend/src/pages/jobs/__tests__/useJobsRealtimeEvents.test.tsx
  frontend/src/pages/jobs/useJobsRealtimeEvents.ts
  frontend/src/pages/objects/__tests__/useObjectsPageQueries.test.ts
  frontend/src/pages/objects/useObjectsPageData.ts
  frontend/src/pages/objects/useObjectsPageQueries.ts
Due: build_s3desk_image

refactor: split rclone progress handling
  backend/internal/jobs/manager.go
  backend/internal/jobs/rclone_progress.go
  backend/internal/jobs/rclone_progress_test.go
Due: build_s3desk_image, api_integration

refactor: split upload commit helpers
  backend/internal/api/handlers_uploads.go
  backend/internal/api/handlers_uploads_commit.go
  backend/internal/api/handlers_uploads_commit_test.go
Due: build_s3desk_image, api_integration

refactor: split upload multipart handlers
  backend/internal/api/handlers_uploads.go
  backend/internal/api/handlers_uploads_multipart.go
  backend/internal/api/handlers_uploads_multipart_test.go
Due: build_s3desk_image, api_integration

feat(frontend): unify dashboard page layouts
  frontend/src/FullApp.tsx
  frontend/src/FullAppInner.module.css
  frontend/src/FullAppInner.tsx
  frontend/src/LightApp.module.css
  frontend/src/components/DatalistInput.tsx
  frontend/src/components/PageHeader.module.css
  frontend/src/components/PageHeader.tsx
  frontend/src/components/PageSection.module.css
  frontend/src/components/PageSection.tsx
  frontend/src/components/SettingsDrawer.tsx
  frontend/src/components/transfers/TransfersDrawer.tsx
  frontend/src/index.css
  frontend/src/pages/BucketsPage.module.css
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/JobsPage.module.css
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ProfilesPage.module.css
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/UploadsPage.module.css
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/jobs/JobsDetailsDrawer.tsx
  frontend/src/pages/jobs/JobsLogsDrawer.tsx
  frontend/src/pages/jobs/JobsTableSection.module.css
  frontend/src/pages/jobs/JobsTableSection.tsx
  frontend/src/pages/jobs/JobsToolbar.module.css
  frontend/src/pages/jobs/JobsToolbar.tsx
  frontend/src/pages/jobs/JobsVirtualTable.tsx
  frontend/src/pages/jobs/__tests__/JobsTableSection.test.tsx
  frontend/src/pages/jobs/jobsVirtualTable.module.css
  frontend/src/pages/profiles/ProfilesTable.tsx
  frontend/src/pages/profiles/profileViewModel.ts
  frontend/src/theme.ts
Due: build_s3desk_image

docs: trim README and keep only core docs
  README.md
  docs/API_SAMPLES.md
  docs/BUNDLE_OPTIMIZATION.md
  docs/DATA_FLOWS_SQL.md
  docs/DESIGN_QUALITY_ANALYSIS.md
  docs/FAILURE_TAXONOMY.md
  docs/FRONTEND_PR_EXECUTION_PLAN.md
  docs/JOB_RCLONE_MAP.md
  docs/LOGGING_PIPELINE.md
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_DASHBOARD.md
  docs/PERF_NOTES.md
  docs/PERF_PROFILING.md
  docs/PROVIDERS.md
  docs/QA_CHECKLIST.md
  docs/QUALITY_ANALYSIS.md
  docs/README.md
  docs/ROADMAP.md
  docs/RUNBOOK.md
  docs/TESTING.md
  docs/UI_STATE_MAP.md
  docs/USAGE.md
  docs/UX_ROADMAP.md
  docs/mr/2026-02-13-roadmap-delivery-final.md
  docs/mr/2026-02-13-roadmap-delivery.md
  docs/wiki/Home.md
  docs/wiki/Project-Features.md
  scripts/perf_objects_list.sh
Due: none

Add Playwright GIF recording workflow and README preview
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/record-e2e-gif.mjs
Due: build_s3desk_image

Copy Playwright GIF outputs into docs assets
  .gitignore
  README.md
  docs/assets/gifs/latest.gif
  frontend/scripts/record-e2e-gif.mjs
Due: build_s3desk_image

Update README.md
  README.md
Due: none

Remove obsolete agent and skill documentation, along with associated images
  AGENTS.md
  SKILL.md
  agents/openai.yaml
  s3desk-desktop.png
  s3desk-profiles.png
Due: none

Refactor code structure for improved readability and maintainability
  README.md
  img/image.png
Due: none

Refactor code structure for improved readability and maintainability
  Containerfile.local
  README.md
  backend/cmd/server/main.go
  backend/internal/app/app.go
  backend/internal/app/app_test.go
  backend/internal/config/config.go
  docker-compose.local-build.yml
  docker-compose.postgres.yml
  frontend/package.json
  frontend/tsconfig.node.json
  img/image.png
  img/objects.png
Due: build_s3desk_image, api_integration

ci: tighten license audit and gate PR by label
  .github/workflows/license-audit.yml
  README.md
  scripts/license-audit.sh
Due: none

build: move ffmpeg-static to optional and tighten npm/runtime packaging checks
  .gitignore
  Containerfile
  Containerfile.local
  frontend/package-lock.json
  frontend/package.json
Due: build_s3desk_image

docs: translate license migration notes into English
  README.md
Due: none

chore: switch project license to Apache-2.0
  LICENSE
  LICENSE_HEADER.txt
Due: none

ci: include optional deps for podman local build
  Containerfile.local
Due: none

chore(repo): refresh packaging and release tooling
  .gitlab-ci.yml
  LICENSE
  LICENSE_HEADER.txt
  docker-compose.local-build.yml
  docker-compose.postgres.yml
  docs/PROVIDERS.md
  docs/TESTING.md
  scripts/bundle_report.js
  scripts/deploy_compose_release.sh
  scripts/deploy_helm_release.sh
  scripts/sync_oci_runtime.sh
  scripts/update_chart_version.sh
  scripts/validate_release_tag.sh
Due: none

fix: readme.md descriptions edit
  README.md
Due: none

Refactor code structure for improved readability and maintainability
  README.md
  img/image copy.png
Due: none

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml
