Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

feat(jobs): add configurable retry jitter for rclone retries
  backend/internal/jobs/manager.go
  backend/internal/jobs/rclone_retry.go
  backend/internal/jobs/rclone_retry_test.go
  docs/FAILURE_TAXONOMY.md
Due: build_s3desk_image, api_integration

chore(deploy): expose rclone retry tuning env in samples and chart
  README.md
  charts/s3desk/templates/deployment.yaml
  charts/s3desk/values-istio.yaml
  charts/s3desk/values.schema.json
  charts/s3desk/values.yaml
  docker-compose.e2e.yml
  docker-compose.postgres.yml
  docker-compose.yml
  docs/JOB_RCLONE_MAP.md
  docs/USAGE.md
Due: build_s3desk_image, api_integration

docs(roadmap): sync completed reliability and UX milestones
  docs/ROADMAP.md
Due: none

chore(gitlab): add roadmap delivery MR template
  .gitlab/merge_request_templates/roadmap-delivery.md
Due: none

perf(transfers): reduce drawer rerenders and sync roadmap
  docs/ROADMAP.md
  frontend/src/components/transfers/TransferDownloadRow.tsx
  frontend/src/components/transfers/TransferUploadRow.tsx
  frontend/src/components/transfers/TransfersDrawer.tsx
Due: build_s3desk_image

docs(mr): add roadmap delivery draft body
  docs/mr/2026-02-13-roadmap-delivery.md
Due: none

docs(mr): finalize roadmap delivery MR body
  docs/mr/2026-02-13-roadmap-delivery-final.md
Due: none

docs(agent): enforce main-branch-only workflow
  AGENTS.md
Due: none

fix(frontend): harden UX and e2e smoke
  frontend/src/App.tsx
  frontend/src/components/SetupCallout.tsx
  frontend/src/components/Transfers.tsx
  frontend/src/lib/errors.ts
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/objects/useObjectsClipboard.tsx
  frontend/src/pages/objects/useObjectsDnd.tsx
  frontend/src/pages/objects/useObjectsIndexing.tsx
  frontend/src/pages/objects/useObjectsRename.tsx
  frontend/src/pages/objects/useObjectsZipJobs.tsx
  frontend/tests/jobs-flow.spec.ts
  frontend/vite.config.ts
Due: build_s3desk_image

chore(ci): align Playwright and update MR checklist
  .gitlab-ci.yml
  .gitlab/merge_request_templates/roadmap-delivery.md
  frontend/package-lock.json
  frontend/package.json
Due: build_s3desk_image

fix(ci): correct playwright install condition
  .gitlab-ci.yml
Due: none

fix(frontend): add skip link and polish loading text
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/transfers/TransferDownloadRow.tsx
  frontend/src/components/transfers/TransferUploadRow.tsx
  frontend/src/index.css
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/profiles/ProfileModal.tsx
Due: build_s3desk_image

docs(roadmap): add frontend deploy and a11y next steps
  docs/ROADMAP.md
Due: none

fix(frontend): improve a11y labels and toast announcements
  frontend/src/components/A11yLiveRegions.tsx
  frontend/src/components/AntdToastAnnouncer.tsx
  frontend/src/components/__tests__/JobQueueBanner.test.tsx
  frontend/src/index.css
  frontend/src/lib/a11yAnnounce.ts
  frontend/src/lib/jobQueue.ts
  frontend/src/main.tsx
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/objects/ObjectsCommandPaletteModal.tsx
  frontend/src/pages/objects/ObjectsFavoritesPane.tsx
  frontend/src/pages/profiles/ProfileModal.tsx
Due: build_s3desk_image

fix(frontend): replace internal href navigation
  frontend/src/components/LinkButton.tsx
  frontend/src/components/SetupCallout.tsx
  frontend/src/components/Transfers.tsx
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/UploadsPage.tsx
  frontend/src/pages/objects/useObjectsClipboard.tsx
  frontend/src/pages/objects/useObjectsDnd.tsx
  frontend/src/pages/objects/useObjectsIndexing.tsx
  frontend/src/pages/objects/useObjectsRename.tsx
  frontend/src/pages/objects/useObjectsZipJobs.tsx
Due: build_s3desk_image

feat(frontend): add Vercel deploy profile
  docs/ROADMAP.md
  frontend/README.md
  frontend/src/api/baseUrl.ts
  frontend/src/api/client.ts
  frontend/src/components/Transfers.tsx
  frontend/src/pages/JobsPage.tsx
  frontend/vercel.json
Due: build_s3desk_image

fix(frontend): align UI docs with API base
  docs/ROADMAP.md
  frontend/README.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/__tests__/baseUrl.test.ts
  frontend/src/api/baseUrl.ts
  frontend/src/pages/SettingsPage.tsx
Due: build_s3desk_image

chore: relax npm patch check in scripts/check.sh
  scripts/check.sh
Due: none

chore: run frontend unit tests in scripts/check.sh
  scripts/check.sh
Due: none

feat(api): allow CORS for allowed origins
  backend/internal/api/api.go
  backend/internal/api/middleware.go
  backend/internal/api/middleware_test.go
  docs/ROADMAP.md
  frontend/README.md
Due: build_s3desk_image, api_integration

fix(frontend): improve a11y and SPA navigation
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/profiles/ProfileModal.tsx
Due: build_s3desk_image

chore(frontend): add bundle analyzer and split vendor-ui
  docs/ROADMAP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: build_s3desk_image

feat(frontend): replace date pickers and defer optional ui chunks
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/__tests__/localDate.test.ts
  frontend/src/lib/localDate.ts
  frontend/src/pages/objects/ObjectsFiltersDrawer.tsx
  frontend/src/pages/objects/ObjectsGlobalSearchDrawer.tsx
  frontend/vite.config.ts
Due: build_s3desk_image

docs(agent): enforce host-ip URL policy
  AGENTS.md
Due: none

perf(frontend): lazy-load yaml parser for profile import
  frontend/src/pages/ProfilesPage.tsx
  frontend/vite.config.ts
Due: build_s3desk_image

feat(frontend): improve folder creation UX
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/ObjectsNewFolderModal.tsx
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/src/pages/objects/ObjectsTreePanel.tsx
  frontend/src/pages/objects/ObjectsTreeSection.tsx
  frontend/src/pages/objects/objectsActionCatalog.tsx
  frontend/src/pages/objects/objectsActions.tsx
  frontend/src/pages/objects/useObjectsActionCatalog.ts
  frontend/src/pages/objects/useObjectsNewFolder.tsx
Due: build_s3desk_image

fix(frontend): auto-open new folder when hidden by filters
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/useObjectsNewFolder.tsx
Due: build_s3desk_image

fix(frontend): avoid antd sub-chunk TDZ crashes
  frontend/vite.config.ts
Due: build_s3desk_image

fix(frontend): new-folder visibility and recovery
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/ObjectsNewFolderModal.tsx
  frontend/src/pages/objects/ObjectsTreePanel.tsx
  frontend/src/pages/objects/ObjectsTreeSection.tsx
  frontend/src/pages/objects/ObjectsTreeView.tsx
  frontend/src/pages/objects/useObjectsNewFolder.tsx
Due: build_s3desk_image

test(frontend): cover new-folder visibility flows
  frontend/tests/objects-new-folder.spec.ts
Due: build_s3desk_image

fix(frontend): clarify 403 guidance and bundle roadmap
  docs/ROADMAP.md
  frontend/src/App.tsx
  frontend/src/lib/errors.ts
  frontend/src/pages/ObjectsPage.tsx
Due: build_s3desk_image

chore(dev,ci): configurable dev ports and bundle report
  .gitlab-ci.yml
  AGENTS.md
  README.md
  docker-compose.yml
  frontend/vite.config.ts
  scripts/bundle_report.js
  scripts/dev.sh
Due: build_s3desk_image

test(frontend): lock 403 remote-access hint
  frontend/src/lib/__tests__/errors.test.ts
Due: build_s3desk_image

feat(frontend): lazy-load antd and make /profiles lightweight
  frontend/src/App.tsx
  frontend/src/FullApp.tsx
  frontend/src/FullAppInner.tsx
  frontend/src/LightApp.tsx
  frontend/src/main.tsx
  frontend/src/pages/ProfilesPage.tsx
Due: build_s3desk_image

docs(ci): add bundle optimization targets and tighter soft budgets
  docs/BUNDLE_OPTIMIZATION.md
  scripts/bundle_report.js
Due: none

refactor(frontend): extract jobs/objects state hooks
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/jobs/useJobsColumnsVisibility.ts
  frontend/src/pages/jobs/useJobsFilters.ts
  frontend/src/pages/objects/useObjectsFiltersState.ts
  frontend/src/pages/objects/useObjectsGlobalSearchState.ts
Due: build_s3desk_image

perf(frontend): replace antd DirectoryTree with SimpleTree
  docs/BUNDLE_OPTIMIZATION.md
  frontend/src/components/LocalPathBrowseModal.tsx
  frontend/src/components/SimpleTree.tsx
  frontend/src/components/simpleTree.module.css
  frontend/src/lib/tree.ts
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/objects/ObjectsTreePanel.tsx
  frontend/src/pages/objects/ObjectsTreeSection.tsx
  frontend/src/pages/objects/ObjectsTreeView.tsx
  frontend/src/pages/objects/objectsListUtils.ts
  frontend/src/pages/objects/useObjectsTree.tsx
Due: build_s3desk_image

perf(frontend): drop rc-tree via antd table filter patch
  docs/BUNDLE_OPTIMIZATION.md
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/antd+6.1.0.patch
Due: build_s3desk_image

build: copy frontend patches before npm ci
  Containerfile
Due: build_s3desk_image
