Repository homelabird/s3desk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_s3desk_image, api_integration

Path conditions:
  build_s3desk_image: any of: Containerfile, docker-compose.e2e.yml, backend/**/*, e2e/**/*, frontend/**/*, openapi.yml
  api_integration: any of: backend/**/*, e2e/api/**/*, openapi.yml, docker-compose.e2e.yml

ci/docs: align docker release tags
  .env
  .gitlab-ci.yml
  README.md
  docker-compose.postgres.yml
  docker-compose.yml
  docs/USAGE.md
Due: none

ci: verify release image db backend
  .gitlab-ci.yml
Due: none

security: harden images and add scans
  .gitlab-ci.yml
  .gitleaks.toml
  Containerfile
  e2e/runner/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/ProfilesPage.tsx
Due: build_s3desk_image

chore: update third-party notices
  THIRD_PARTY_NOTICES.md
  third_party/licenses/npm/react-router-dom@7.12.0-LICENSE.md
  third_party/licenses/npm/react-router@7.12.0-LICENSE.md
Due: none

ci: install gitleaks in alpine
  .gitlab-ci.yml
Due: none

ci: install git for gitleaks
  .gitlab-ci.yml
Due: none

ci: add npm retry settings
  .gitlab-ci.yml
Due: none

ci: add helm chart validation and publish
  .gitlab-ci.yml
  charts/s3desk/ci-values.yaml
  scripts/update_chart_version.sh
Due: none

ci: add helm k8s smoke tests
  .gitlab-ci.yml
  charts/s3desk/ci-values.yaml
  scripts/helm_k8s_smoke.sh
Due: none

ci: run helm pvc smoke by default
  .gitlab-ci.yml
Due: none

ci: use fixed namespace for helm tests
  .gitlab-ci.yml
  k8s/gitlab-runner-namespace-admin.yaml
  scripts/helm_k8s_smoke.sh
Due: none

ci: build and use commit-tagged helm images
  .gitlab-ci.yml
  charts/s3desk/ci-values.yaml
  k8s/gitlab-runner-namespace-admin.yaml
  scripts/helm_k8s_smoke.sh
Due: none

ci: set fsGroup for helm pvc test
  scripts/helm_k8s_smoke.sh
Due: none

ci: tune trivy config scan for helm tests
  .gitlab-ci.yml
  k8s/gitlab-runner-namespace-admin.yaml
Due: none

test: add frontend specs and update ci scan defaults
  .trivyignore
  charts/s3desk/ci-values.yaml
  docs/TESTING.md
  frontend/tests/objects-global-search.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/profiles-provider-forms.spec.ts
  frontend/tests/settings-auth.spec.ts
  frontend/tests/transfers-scenarios.spec.ts
Due: build_s3desk_image

test: stabilize frontend tests and fix lint
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/profiles-provider-forms.spec.ts
  frontend/tests/settings-auth.spec.ts
  frontend/tests/transfers-scenarios.spec.ts
Due: build_s3desk_image

feat(backend): add presigned upload support
  backend/cmd/server/main.go
  backend/internal/api/api.go
  backend/internal/api/handlers_uploads.go
  backend/internal/api/limiter.go
  backend/internal/api/s3_helpers.go
  backend/internal/api/server.go
  backend/internal/app/app.go
  backend/internal/config/config.go
  backend/internal/db/db.go
  backend/internal/models/models.go
  backend/internal/store/models_gorm.go
  backend/internal/store/store.go
  frontend/src/api/openapi.ts
  openapi.yml
Due: build_s3desk_image, api_integration

feat(frontend): presigned uploads and direct download fallback
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/Transfers.tsx
  frontend/src/components/transfers/transferTypes.ts
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: build_s3desk_image

test(e2e): stabilize presigned and live flows
  frontend/tests/docs-smoke.spec.ts
  frontend/tests/jobs-perf.spec.ts
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/objects-smoke.spec.ts
  frontend/tests/transfers-presigned.spec.ts
  frontend/tests/uploads-folder.spec.ts
Due: build_s3desk_image

docs(ci): document docs/perf base URLs
  .gitlab-ci.yml
  README.md
Due: none

ci: add optional live UI e2e job
  .gitlab-ci.yml
  docs/TESTING.md
Due: none

ci(docs): guide live UI test variables
  .gitlab-ci.yml
  README.md
  docs/TESTING.md
Due: none

docs(ci): add live e2e env sample
  docs/TESTING.md
  docs/ci/e2e_live.env.example
Due: none

test(e2e): add live jobs flow spec
  .gitlab-ci.yml
  docs/TESTING.md
  frontend/tests/jobs-live-flow.spec.ts
Due: build_s3desk_image

docs(testing): add e2e_live run command
  docs/TESTING.md
Due: none

test(e2e): cover copy/move in live jobs flow
  frontend/tests/jobs-live-flow.spec.ts
Due: build_s3desk_image

test(e2e): preserve prefixes in jobs live uploads
  frontend/tests/jobs-live-flow.spec.ts
Due: build_s3desk_image

test(e2e): scope presigned error assertion
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image

docs(ci): clarify container S3 endpoint
  docs/TESTING.md
  docs/ci/e2e_live.env.example
Due: none

fix(ci): resolve gofmt and lint issues
  backend/internal/models/models.go
  frontend/src/components/Transfers.tsx
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/transfers-presigned.spec.ts
Due: build_s3desk_image, api_integration

ci: tighten helm smoke setup and govulncheck timeout
  .gitlab-ci.yml
  scripts/helm_k8s_smoke.sh
Due: none

ci: stabilize govulncheck and k8s smoke
  .gitlab-ci.yml
  charts/s3desk/ci-values.yaml
Due: none

ci: narrow govulncheck scope to internal
  .gitlab-ci.yml
Due: none

ci: narrow govulncheck scope to internal api
  .gitlab-ci.yml
Due: none

feat: presigned transfers + e2e/ci stabilization
  .gitlab-ci.yml
  README.md
  backend/cmd/server/main.go
  backend/internal/api/api.go
  backend/internal/api/handlers_uploads.go
  backend/internal/api/limiter.go
  backend/internal/api/s3_helpers.go
  backend/internal/api/server.go
  backend/internal/app/app.go
  backend/internal/config/config.go
  backend/internal/db/db.go
  backend/internal/models/models.go
  backend/internal/store/models_gorm.go
  backend/internal/store/store.go
  charts/s3desk/ci-values.yaml
  docs/TESTING.md
  docs/ci/e2e_live.env.example
  frontend/src/api/client.ts
  frontend/src/api/openapi.ts
  frontend/src/api/types.ts
  frontend/src/components/Transfers.tsx
  frontend/src/components/transfers/transferTypes.ts
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/ObjectsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/tests/docs-smoke.spec.ts
  frontend/tests/jobs-live-flow.spec.ts
  frontend/tests/jobs-perf.spec.ts
  frontend/tests/objects-context-menu.spec.ts
  frontend/tests/objects-live-flow.spec.ts
  frontend/tests/objects-smoke.spec.ts
  frontend/tests/transfers-presigned.spec.ts
  frontend/tests/uploads-folder.spec.ts
  openapi.yml
  scripts/helm_k8s_smoke.sh
Due: build_s3desk_image, api_integration

frontend: lazy-split modals and improve a11y
  frontend/src/pages/BucketsPage.tsx
  frontend/src/pages/ProfilesPage.tsx
  frontend/src/pages/buckets/BucketModal.tsx
  frontend/src/pages/buckets/BucketPolicyModal.tsx
  frontend/src/pages/objects/ObjectThumbnail.tsx
  frontend/src/pages/objects/ObjectsDetailsContent.tsx
  frontend/src/pages/objects/ObjectsGlobalSearchDrawer.tsx
  frontend/src/pages/objects/ObjectsListControls.tsx
  frontend/src/pages/objects/ObjectsListRow.tsx
  frontend/src/pages/objects/ObjectsToolbar.tsx
  frontend/src/pages/objects/objects.module.css
  frontend/src/pages/profiles/ProfileModal.tsx
  frontend/src/pages/profiles/profileTypes.ts
Due: build_s3desk_image

test: add mobile Playwright projects and smoke
  frontend/playwright.config.ts
  frontend/tests/mobile-smoke.spec.ts
Due: build_s3desk_image

fix: align bucket policy validation rendering
  frontend/src/pages/buckets/BucketPolicyModal.tsx
Due: build_s3desk_image

ci: speed up and scope jobs
  .gitlab-ci.yml
Due: none

ci: improve caching and job scheduling
  .gitlab-ci.yml
Due: none
